<style>

    .my_table_td {
        padding: 5px !important;
        text-align: left;
    }
</style>

<div layout="row" layout-sm="column" layout-align="center center"  style="margin-bottom: 20px;padding:10px">

    <img title ="INSURANCE CONFIGURATIONS" src="img/leaf.png" style="height: 25%px;width: 25%;border-radius: 50%">
    <h3 style=" margin-left:8px ; color: #6fa2d1">INSURANCE REGISTRY</h3>
    <md-content>

        <md-list>
            <md-item>
                <md-item-content>
                    <div class="md-tile-left">
                        <img src="img/tick_pic.jpg" style="height: 25%px;width: 25%px;border-radius: 50%">
                    </div>
                    <div class="md-tile-content">
                        <h3 style="color:#53de50;font-weight: bold  ">Register New Insurance Company.</h3>
                        <h4>
                            In This part the Administrator can register a new Insurance company or Insurance Broker.
                        </h4>
                    </div>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content>
                    <div class="md-tile-left">
                        <img src="img/tick_pic.jpg" style="height: 25%px;width: 25%px;border-radius: 50%">
                    </div>
                    <div class="md-tile-content">
                        <h3  style="color:#53de50;font-weight: bold ">Edit or Update Existing Insurance Company</h3>
                        <h4>
                            This part will help the Administrator update an existing Insurance Company  or Insurance Broker. .
                        </h4>
                    </div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</div>


<div class = "panel-heading" >
    <h3 class="text-center" style="color:#53de50">INSURANCE COMPANIES

        <md-button title="Add New Insurance Company." class="md-hue-3 md-accent md-primary md-fab" style="height: 40px;width: 40px" ng-click="addInsurance($event)"><i class="fa fa-edit"></i>
        </md-button>

    </h3>
</div>

<div class="panel-body">
    <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
        <div class="col-sm-12" id="listTable">
            <table class="table table-stripped table-responsive" >
                <thead>
                <tr>
                    <th class="my_table_td"># </th>
                    <th class="my_table_td">Name</th>
                    <th class="my_table_td"> Type</th>
                    <th class="my_table_td">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="insurance in insuranceList">
                    <td class="my_table_td" >{{ $index+1 }}</td>
                    <td class="my_table_td">{{ insurance['Company Name'] }}</td>
                    <td class="my_table_td">{{ insurance['Company Type'] }}</td>
                    <td class="my_table_td">

                        <md-button title="View Details" class="md-hue-3 md-raised md-primary md-fab" style="height: 30px;width: 30px; margin-right: 15px" ng-click="showInsurance($event,insurance)"><i class="fa fa-edit"></i></md-button>
                        <md-button title=" Delete Company" class="md-hue-3 md-warn md-raised md-fab" style="height: 30px;width: 30px; margin-right: 15px" ng-click="deleteConfirm($event,insurance)"><i class="fa fa-trash-o"></i></md-button>
                        <md-button title="View Registered Vehicles" class="md-hue-3 md-raised md-primary md-fab" style="height: 30px;width: 30px;" ng-click="showInsuredVehicle($event,insurance)"><i class="fa fa-edit"></i></md-button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </md-whiteframe>
</div>