<div ng-controller="offenceRegController">
<h2>List of Offencces Registry</h2>
<table>
	<thead>
		<tr>
			<th>#</th>
			<th>Section</th>
			<th>Nature</th>
			<th>Relating</th>
			<th>Amount</th>
			<th colspan="2">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="off in offenceRegs">
			<td>{{$index + 1}}</td>
			<td>{{off.section}}</td>
			<td>{{off.nature}}</td>
			<td>{{off.relating}}</td>
			<td>{{off.amount}}</td>
			<td>
				<a href="#/registry/{{off.id}}/offences">
					<md-button class="md-hue-3 md-raised md-primary md-fab">
						<md-tooltip>
				          Offences
				        </md-tooltip>
						<i class="fa fa-info"></i> 
					</md-button>
				</a>
			</td>
		</tr>
	</tbody>
</table>
</div>