<style>
    .entry{
        border: 0px;
        border-bottom-style:solid ;
        border-bottom-color:#767678;
        border-bottom-width:1px ;
        width: 100%;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 10px;
    }.entry:focus{
         border-bottom-width:2px ;
         border-bottom-right-radius: 0px;
         border-bottom-left-radius: 0px;
         border-bottom-color:#000000;
     }
    p{
        color: #000000;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .multiSelect img {
        vertical-align: middle;
        margin-bottom: 0px;
        height: 22px;
        width: 42px;
    }
    b{
        color: #084646;
    }
</style>
<h3 class="text-center text-warning">Motor Vehicle Registration</h3>
<md-whiteframe class="md-whiteframe-z5" layout layout-align="center center" style="margin-bottom: 10px">
    <div class="col-sm-12" style="margin-top: 15px;margin-bottom: 15px;">
        <form name="kayaForm" novalidate>
            <div class="col-xs-12">
                <div class="col-xs-6"><b>Vehicle Control Number:</b> <input type="text" class="entry" ng-model="currentKaya.vehicle_control_number" required/></div>
                <div class="col-xs-6"><b>Registration Number:</b> <input type="text" class="entry" ng-model="currentKaya.plate_number" required/></div>
             </div>
            <h3 class="text-warning">Owners Details</h3>
            <div class="col-xs-12">
                <div class="col-xs-6"><b>ID Number:</b> <input type="text" class="entry" ng-model="currentKaya.owner_id" required/></div>
                <div class="col-xs-6"><b>Full Name:</b> <input type="text" class="entry" ng-model="currentKaya.owner_name" required/></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6"><b>Ownership Category</b>
                    <select class="entry" ng-model="currentKaya.ownership_category">
                        <option value="">-- Select --</option>
                        <option  ng-repeat="national in data.ownership_category" value="{{ national.name }}">{{ national.name }}</option>
                    </select>
                </div>
                <div class="col-xs-6"><b>Postal Address:</b><input type="text" class="entry" ng-model="currentKaya.owner_address" required/>
                </div>
            </div>

            <h3 class="text-warning"> Vehicle Details </h3>
            <div class="col-xs-12">
                <div class="col-xs-4"><b>Make:</b>
                    <select class="entry" ng-model="currentKaya.make" ng-change="getModels(currentKaya.make)">
                        <option value="">-- Select --</option>
                        <option  ng-repeat="make in data.make" value="{{ make.make }}">{{ make.make }}</option>
                    </select>
                </div>
                <div class="col-xs-4"><b>Model:</b>
                    <select class="entry" ng-model="currentKaya.type">
                        <option value="">-- Select --</option>
                        <option  ng-repeat="modle in data.model" value="{{ modle.model }}">{{ modle.model }}</option>
                    </select>
                </div>
                <div class="col-xs-4"><b>Model Number:</b> <input type="text" class="entry" ng-model="currentKaya.model_number" required/></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4"><b>Body Type</b> <input type="text" class="entry" ng-model="currentKaya.body_type" required/></div>
                <div class="col-xs-4"><b>Color <span  ng-style="{'background-color': currentKaya.color}" style="width: 50px;height: 40px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></b>
                    <select class="entry" ng-model="currentKaya.color">
                        <option value="">-- Select --</option>
                        <option value="White">White</option>
                        <option value="Blue">Blue</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Red">Red</option>
                        <option value="Green">Green</option>
                        <option value="Black">Black</option>
                        <option value="Brown">Brown</option>
                        <option value="Grey">Grey</option>
                        <option value="Pink">Pink</option>
                        <option value="Others">Others</option>
                        <option value="Multicolor">Multicolor</option>
                    </select>
                </div>
                <div class="col-xs-4"><b>Class</b>
                    <select class="entry" ng-model="currentKaya.class">
                        <option value="">-- Select --</option>
                        <option value="Motocyle">Motocyle</option>
                        <option value="Motor Tricycle">Motor Tricycle</option>
                        <option value="Light Passenger Vehicle">Light Passenger Vehicle</option>
                        <option value="Heavy Passenger Vehicle">Heavy Passenger Vehicle</option>
                        <option value="Light Load Vehicle">Light Load Vehicle</option>
                        <option value="Heavy Load Vehicle">Heavy Load Vehicle</option>
                        <option value="Trailer">Trailer</option>
                        <option value="Agriculture Tractor">Agriculture Tractor</option>
                        <option value="Agriculture Trailer">Agriculture Trailer</option>
                        <option value="Mining or Road Construction Equipment">Mining or Road Construction Equipment</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div><div class="col-xs-12">
                <div class="col-xs-4"><b>Year Of Manufacture</b>
                    <select class="entry" ng-model="currentKaya.yom">
                        <option value="">-- Select --</option>
                        <option value="2014">2014</option>
                        <option  ng-repeat="modle in data.yom" value="{{ modle.year }}">{{ modle.year }}</option>
                    </select>
                </div>
                <div class="col-xs-4"><b>Chassis Number</b> <input type="text" class="entry" ng-model="currentKaya.chasis_no" required/></div>
                <div class="col-xs-4"><b>Engine Number</b> <input type="text" class="entry" ng-model="currentKaya.engine_number" required/></div>
            </div><div class="col-xs-12">
                <div class="col-xs-4"><b>Engine Capacity</b> <input type="text" class="entry" ng-model="currentKaya.engine_capacity" required/></div>
                <div class="col-xs-4"><b>Fuel Used</b>
                    <select class="entry" ng-model="currentKaya.fuel">
                        <option value="">-- Select --</option>
                        <option value="Petrol">Petrol</option>
                        <option value="Diesel">Diesel</option>
                        <option value="Electricity">Electricity</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="col-xs-4"><b>Number of Axial</b> <input type="text" class="entry" ng-model="currentKaya.number_of_axial" required/></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6"><b>Axial Distance</b> <input type="text" class="entry" ng-model="currentKaya.axial_distance" required/></div>
                <div class="col-xs-6"><b>Seating Capacity</b> <input type="text" class="entry" ng-model="currentKaya.seating_capacity" required/></div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4"><b>Gross Weight</b> <input type="text" class="entry" ng-model="currentKaya.gross_wheight"/></div>
                <div class="col-xs-4"><b>Tare Weight</b> <input type="text" class="entry" ng-model="currentKaya.tare_weight" required/></div>
                <div class="col-xs-4"><b>Imported From</b>
                    <select class="entry" ng-model="currentKaya.imported_from">
                        <option value="">-- Select --</option>
                        <option  ng-repeat="national in data.countries" value="{{ national.name }}">{{ national.name }}</option>
                    </select>
                </div>
            </div>
        </form>

    </div>
</md-whiteframe>

<!--saving messages-->
<span class="pull-left" ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
<span class="pull-left text-success" ng-if="kayaSavedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
<span class="pull-left text-danger" ng-if="kayaSavedFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

<!--updating message-->
<span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
<span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
<span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

<div ng-hide="currentEditting"class="btn btn-primary btn-sm pull-right" ng-click="saveVehicle(currentKaya)" ng-disabled="kayaForm.$invalid">&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i> Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
<div ng-show="currentEditting" class="btn btn-primary btn-sm pull-right" ng-click="updateKaya(currentKaya)">Update </div>
<div ng-show="currentEditting" class="btn btn-warning btn-sm pull-right" ng-click="cancelEditting()">Cancel </div>