<h1>Car Insurance</h1>
 <style>
     .entry{
         border: 0px;
         border-bottom-style:solid ;
         border-bottom-color:#767678;
         border-bottom-width:1px ;
         width: 100%;
         border-bottom-right-radius: 8px;
         border-bottom-left-radius: 8px;
         background-color: #ffffff;
         margin-bottom: 10px;
     }.entry:focus{
          border-bottom-width:2px ;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          border-bottom-color:#000000;
      }
 </style><form name="kayaForm" novalidate>
    <div class="col-sm-12">
        <div class="col-sm-8">
            <div class="col-sm-12">
                <div class="col-xs-10"><b>Car Plate Number:</b> <input ng-change="checkCar(currentKaya.car_id,data.vehicles)" type="text" class="entry" ng-model="currentKaya.car_id" required/></div>
                <div class="col-xs-10"><b>Insurance Number:</b> <input type="text" class="entry" ng-model="currentKaya.insurance_no" required/></div>

                <div class="col-xs-10"><b>Insurance Type</b>
                    <select class="entry" ng-model="currentKaya.insurance_type">
                        <option value="">-- Select --</option>
                        <option value="Ordinance">Ordinance</option>
                        <option value="Third party">Third party</option>
                        <option value="Third party fire & theft">Third party fire & theft</option>
                        <option value="Comprehensive">Comprehensive</option>
                    </select>
                </div>
                <div class="col-xs-10"><b>Car Value(Tsh):</b> <input type="text" class="entry" ng-model="currentKaya.car_value" required/></div>
                <div class="col-xs-10"><b>Insurance Company</b>
                    <select class="entry" ng-model="currentKaya.company_id">
                        <option value="">-- Select --</option>
                        <option  ng-repeat="modle in data.insurance" value="{{ modle.id }}">{{ modle.company_name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-xs-10"><b>Start Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.start_date" required/></div>
                <div class="col-xs-10"><b>Expiry Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.end_date" required/></div>
            </div>
            <!--saving messages-->
            <span class="pull-left" ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
            <span class="pull-left text-success" ng-if="kayaSavedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
            <span class="pull-left text-danger" ng-if="kayaSavedFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

            <!--updating message-->
            <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
            <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
            <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div ng-hide="currentEditting"class="btn btn-primary btn-sm" ng-click="saveVehicleInsurance(currentKaya)" ng-disabled="kayaForm.$invalid">&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i> Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
            <div ng-show="currentEditting" class="btn btn-primary btn-sm pull-right" ng-click="updateKaya(currentKaya)">Update </div>
            <div ng-show="currentEditting" class="btn btn-warning btn-sm pull-right" ng-click="cancelEditting()">Cancel </div>

            <table class="table table-striped " ng-show="currCar">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Insurance Number</th>
                    <th>Insurance Type</th>
                    <th>Car Value</th>
                    <th>Start Date </th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="insure in currCar.insurance">
                    <td>{{$index + 1}}</td>
                    <td>{{insure.company_id}}</td>
                    <td>{{insure.insurance_no}}</td>
                    <td>{{insure.insurance_type}}</td>
                    <td>{{insure.car_value}}</td>
                    <td>{{insure.start_date | date:'yyyy MMM dd' }}</td>
                    <td>{{insure.end_date | date:'yyyy MMM dd'}}</td>


                </tr>
                </tbody>
                </table>
        </div>
        <div class="col-sm-4" ng-show="currCar">
            <h4>Vehicle Details</h4>
            <table class="table" ng-show="currCar">
                <tr>
                    <th>make</th>
                    <td>{{ currCar.make }}</td>
                </tr>
                <tr>
                    <th>Model</th>
                    <td>{{ currCar.type }}</td>
                </tr>
                <tr>
                    <th>Model Number</th>
                    <td>{{ currCar.model_number }}</td>
                </tr>
                <tr>
                    <th>Body Type</th>
                    <td>{{ currCar.body_type }}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td ng-style="{'background-color':currCar.color }">{{ currCar.color }}</td>
                </tr>
                <tr>
                    <th>Class</th>
                    <td>{{ currCar.class }}</td>
                </tr>
                <tr>
                    <th>Year Of Manufacture</th>
                    <td>{{ currCar.yom }}</td>
                </tr>
                <tr>
                    <th>Chassis Number</th>
                    <td>{{ currCar.chasis_no }}</td>
                </tr>
                <tr>
                    <th>Engine Capacity</th>
                    <td>{{ currCar.engine_capacity }}</td>
                </tr>
                <tr>
                    <th>Engine Number</th>
                    <td>{{ currCar.engine_number }}</td>
                </tr>
                <tr>
                    <th>Fuel Used</th>
                    <td>{{ currCar.fuel }}</td>
                </tr>
                <tr>
                    <th>Number of Axels</th>
                    <td>{{ currCar.number_of_axial }}</td>
                </tr>
                <tr>
                    <th>Axle Distance</th>
                    <td>{{ currCar.axial_distance }}</td>
                </tr>
                <tr>
                    <th>Seating Capacity</th>
                    <td>{{ currCar.seating_capacity }}</td>
                </tr>
                <tr>
                    <th>Tare Weight</th>
                    <td>{{ currCar.tare_weight }}</td>
                </tr>
                <tr>
                    <th>Gross Weight</th>
                    <td>{{ currCar.gross_wheight }}</td>
                </tr>
                <tr>
                    <th>Imported From</th>
                    <td>{{ currCar.imported_from }}</td>
                </tr>

            </table>
        </div>
    </div>

        </form>
