
<div class="row" style="padding: 15px" ng-controller = "ViewAccidentController">

<h3 class="panel-heading"  style="background-color: #ffffff;color: #000000;border: solid,#000000" ><center>TANZANIA ACCIDENT FORM SHEET (AFS)</center>  </h3>


<form name="accident_form" novalidate>

<div class="panel-body">
    <md-button class="md-hue-3 md-raised" href="#/car/{{cars_id}}">Back to Vehicle </md-button>
    <table class="table table-bordered table-striped ">

        <tbody>

        <tr>
            <td class="my_heading" style="border-width:0px">A : SCENE OF ACCIDENT & SEVERITY</td>
            <td style="width:11%;background-color: #ffffff">Acc Register</td>
            <td style="width:22%"> <input class="ingizo"  type="text" ng-model="accident_no" name="accident_no" required/> </td>
            <td style="width:8.5%">OCS Check</td>
            <td style="width:8.5%"> <input class="ingizo"  type="text" ng-model="ocs_check" name="ocs_check" required /> </td>
            <td  style="width:8.5%">S.visor Check</td>
            <td style="width:8.5%"> <input class="ingizo"  type="text" ng-model="supervisor_check" name="supervisor_check" required /> </td>
        </tr>

        </tbody>

    </table>


</div>

<div class="panel-body">

    <table class="table table-bordered table-striped">

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">1</td>
            <td class="my_td"  style="width: 10%">Police Station</td>
            <td style="width: 10%">
                <input class="ingizo"  type="text" ng-model="police_station" name="police_station" required/></td>
            <td class="my_td"  style="width: 10%"></td>
            <td class="my_td"  style="width: 11%">Number</td>
            <td class="my_td"  style="width: 11%">Name</td>
            <td class="my_td"  style="width: 11%">Sign.Date</td>
            <td class="my_td"  style="width: 8.5%"></td>
            <td  style="width: 8.5%">Acc.Severity</td>
            <td class="my_td"  style="width: 8.5%"></td>
            <td class="my_td"  style="width: 8.5%"></td>

        </tr>

        <tr>
            <td class="number" style="border-width:0px">2</td>
            <td class="my_td"  style="width: 10%">District </td>
            <td style="width: 10%"><input class="ingizo" ng-model="station_district" type="text" /></td>
            <td class="my_td"  style="width: 10%">Police Officer (1) </td>
            <td style="width: 11%"><input class="ingizo" ng-model="rank_no" type="text" /></td>
            <td style="width: 11%"><input class="ingizo" ng-model="police_name" type="text"/></td>
            <td style="width: 11%"><input class="ingizo"  ng-model="sign_date" type="text"/></td>
            <td style="width: 8.5%">Fatal(n)</td>
            <td  style="width:8.5%"><input class="ingizo" ng-model="accident_fatal" type="text"/></td>
            <td  style="width: 8.5%">Simple(n)</td>
            <td style="width: 8.5%"><input class="ingizo" ng-model="accident_simple_injury" type="text/"></td>

        </tr>

        <tr>
            <td class="number" style="border-width:0px">3</td>
            <td class="my_td" >Region</td>
            <td><input class="ingizo" ng-model="station_region" type="text" name="region" required ></td>
            <td class="my_td" >Accident Cause</td>
            <td><input class="ingizo"  type="text" ng-model="cause" name="officer_2" required/></td>
            <td class="my_td" >Weather Conditions</td>
            <td><input class="ingizo"  type="text" ng-model="weather"/></td>
            <td class="my_td" >Severe Injury(n)</td>
            <td><input class="ingizo" ng-model="accident_severe_injury" type="text"/></td>
            <td class="my_td" >Only Damage</td>
            <td><input class="ingizo" ng-model="accident_only_damage" type="text"/></td>
        </tr>

        </tbody>

    </table>

</div>

<div class="panel-body">

    <table class="table table-bordered table-striped ">

        <tbody>
        <tr>
            <td class="my_heading" style="border-width:0px">B : TIME AND LOCATION</td>
            <td style="width:11%">Latitude</td>
            <td style="width:11%"> <input class="ingizo" ng-model="latitude" type="text" /> </td>
            <td style="width:11%">Longitude</td>
            <td style="width:8.5%"> <input class="ingizo" ng-model="longitude" type="text" /> </td>
            <td style="width:12.75%">Hit & Run</td>
            <td style="width:12.75%"> <input class="ingizo"  type="text"   ng-model="hit_run" /> </td>
        </tr>

        </tbody>

    </table>

</div>

<div class="row" style = "padding: 0px;margin: 0px;border: 0px">

<div class="col-md-9" style="width: 87.25%;padding: 0px">

    <table class="table table-bordered table-striped" style="padding-right: 2px">

        <tbody >
        <tr>
            <td class="number" style="border-width:0px">1</td>
            <td style="width: 15%">Accident Date</td>
            <td style="width: 15%">Accident Time</td>
            <td class="my_td"  style="width: 33%">Area Of Accident </td>
            <td class="my_td"  style="width: 8.5%">Road </td>
            <td class="my_td"  style="width:12.75%">Intersection</td>
        </tr>
        </tbody>

    </table>

    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td class="number" style="border-width:0px">2</td>
            <td class="my_td"  style="width: 10%">Day</td>
            <td style="width:5%"> <input class="ingizo" ng-model="accident_date_time" type="text" /> </td>
            <td style="width: 10%">Hour(24)</td>
            <td style="width:5%"> <input class="ingizo"  type="text" /> </td>
            <td class="my_td"  style="width: 11%">Area Name</td>
            <td style="width:11%"> <input class="ingizo"  ng-model="accident_area" type="text" /> </td>
            <td style="width: 11%">Name </td>
            <td style="width:8.5%"> <input class="ingizo" ng-model="road_name" type="text" /> </td>
            <td style="width:12.75%"> <input class="ingizo"  ng-model="intersection_name" type="text" /> </td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">3</td>
            <td class="my_td"  >Month</td>
            <td > <input class="ingizo"  type="text" /> </td>
            <td >Min(60)</td>
            <td> <input class="ingizo"  type="text" /> </td>
            <td class="my_td" >City/Region</td>
            <td> <input class="ingizo"  ng-model="area_region" type="text" /> </td>
            <td>No </td>
            <td> <input class="ingizo" ng-model=road_number type="text" /> </td>
            <td> <input class="ingizo" ng-model="intersection_number" type="text" /> </td>
        </tr>


        <tr>
            <td class="number" style="border-width:0px">4</td>
            <td class="my_td"  >Year</td>
            <td > <input class="ingizo"  type="text" /> </td>
            <td class="my_td" ></td>
            <td> <input class="ingizo"  type="text" /> </td>
            <td class="my_td" >District</td>
            <td> <input class="ingizo" ng-model="area_district" type="text" /> </td>
            <td>Kilometer(Mark) </td>
            <td> <input class="ingizo" ng-model="road_mark" type="text" /> </td>
            <td> <input class="ingizo" ng-model="intersection_name" type="text" /> </td>
        </tr>

        </tbody>

    </table>

</div>

<div class="col-md-3" style="width: 12.75%">
    <center><img src="/apps/accident/img/logo.jpg" height="50%" width="50%"></center>
</div>

<div class="row" style="padding: 0px;margin-top:0px">
<table class="table table-bordered table-striped " id="driver">

    <tbody>
    <tr>
        <td class="my_heading2" style="border-width:0px">C : VEHICLE & DRIVER</td>
        <td style="width:5%"> Fatal</td>
        <td style="width:11%"><input class="ingizo" ng-model="vehicle_severe_injury" type="text" /></td>
        <td style="width:11%"> Severe Injury</td>
        <td style="width:11%"> Simple Injury</td>
        <td  style="width:21.25%">Not Injured</td>
        <td style="width:12.75%;background-color:#c5d9f1 ">

    </tr>
    </tbody>

</table>

<table class="table table-bordered table-striped table-condensed" >

    <tbody>
    <tr>
        <td class="number" style="border-width:0px">1</td>
        <td style="width: 30%" class="driver" >Driver Details</td>
        <td style="width: 33%" class="vehicle">Vehicle Details</td>
        <td style="width: 34%" class="insurance"> Vehicle Insurance</td>
    </tr>
    </tbody>
</table>

<table class="table table-bordered table-striped table-condensed" >

    <tbody>
    <tr>
        <td class="number" style="border-width:0px">2</td>

        <td style="width: 15%" class="my_td">Driving License ID </td>
        <td style="width: 15%"><input class="ingizo-driver" ng-model="license_number" type="text" /></td>
        <td style="width: 16.5%" class="my_td">Vehicle Registration Number </td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model="plate_number" type="text" /></td>
        <td style="width: 17%" class="my_td">Insurance Company</td>
        <td style="width: 17%" class="my_td"><input class="ingizo-insurance" type="text"></td>

    <tr>

        <td class="number" style="border-width:0px">3</td>
        <td style="width: 16.5%" class="my_td">Surname </td>
        <td style="width:16.5%"> <input class="ingizo-driver"  ng-model="first_name" type="text" /> </td>
        <td style="width: 15%" class="my_td">Vehicle Type </td>
        <td style="width:15%"> <input class="ingizo-gari" ng-model="make" type="text" /> </td>
        <td style="width: 17%" class="my_td">Insurance Type</td>
        <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">4</td>
        <td style="width: 15%" class="my_td">Other Names </td>
        <td style="width:15%"> <input class="ingizo-driver"  ng-model="last_name"  type="text" /> </td>
        <td style="width: 15%" class="my_td">Owner's Full name </td>
        <td style="width:15%"> <input class="ingizo-gari" ng-model="owner_name" type="text" /> </td>
        <td style="width: 17%" class="my_td">Phone Number</td>
        <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">5</td>
        <td style="width: 15%" class="my_td">Physical Address </td>
        <td style="width:15%"> <input class="ingizo-driver"  ng-model="physical_address"  type="text" /> </td>
        <td style="width: 16.5%" class="my_td">Nationality</td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model="owner_nationality" type="text" /></td>
        <td style="width: 17%" class="my_td">Policy Number </td>
        <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">6</td>
        <td style="width: 15%" class="my_td">Address PO Box </td>
        <td style="width:15%"> <input class="ingizo-driver"  ng-model="address"  type="text" /> </td>
        <td style="width: 16.5%" class="my_td">Physical Address</td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model="owner_physical_address" type="text" /></td>
        <td style="width: 17%" class="my_td">Policy Period</td>
        <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">7</td>
        <td style="width: 15%" class="my_td">National ID </td>
        <td style="width:15%"> <input class="ingizo-driver"  ng-model="national_id"  type="text" /> </td>
        <td style="width: 16.5%" class="my_td">Address</td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model="owner_address" type="text" /></td>
        <td style="width: 17%" class="my_td">Estimated Repair TSH</td>
        <td style="width: 17%"><input class="ingizo-insurance" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">8</td>
        <td style="width: 15%" class="my_td">Phone No  </td>
        <td style="width:15%"> <input class="ingizo-driver" ng-model="phone_number"  type="text" /> </td>
        <td style="width: 16.5%" class="my_td">Damage</td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model=""  type="text" /></td>
        <td style="width: 17%;text-align: center" ><strong>Damage</strong></td>
        <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">9</td>
        <td style="width: 15%" class="my_td">Gender </td>
        <td style="width:15%"> <input class="ingizo-driver"  ng-model="gender" type="text" /> </td>
        <td style="width: 16.5%" class="my_td">Year of manufacturing</td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model="yom" type="text" /></td>
        <td style="width: 17%" class="my_td">Vehicle</td>
        <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">10</td>
        <td style="width: 15%" class="my_td">Date Of Birth </td>
        <td style="width: 15%"> <input class="ingizo-driver"  ng-model="birthdate" type="text" /> </td>
        <td style="width: 16.5%" class="my_td">Chassis Number</td>
        <td style="width: 16.5%"><input class="ingizo-gari" ng-model="chasis_no" type="text" /></td>
        <td style="width: 17%" class="my_td">Vehicle Total</td>
        <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">11</td>
        <td style="width: 15%" class="my_td">Nationality </td>
        <td style="width: 15%"> <input class="ingizo-driver"  ng-model="nationality" type="text" /> </td>
        <td style="width: 16.5%"> <input class="ingizo-driver"  ng-model="drugs" type="text" /> </td>
        <td style="width: 16.5%"> <input class="ingizo-driver"  ng-model="phone_use" type="text" /> </td>
        <td style="width: 17%" class="my_td">Infrastructure</td>
        <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">12</td>
        <td style="width: 15%" class="my_td">Occupation </td>
        <td style="width: 15%"> <input class="ingizo-driver"  ng-model="occupation" type="text" /> </td>
        <td style="width: 16.5%"> <input class="ingizo-driver"  ng-model="alcohol" type="text" /> </td>
        <td style="width: 16.5%"> <input class="ingizo-driver"  ng-model="seat_belt" type="text" /> </td>
        <td style="width: 17%" class="my_td">Rescue cost</td>
        <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
    </tr>



    </tbody>
</table>

<table class="table table-bordered table-striped " id="driver2">

    <tbody>
    <tr>
        <td class="my_heading2" style="border-width:0px;width: 100%">E:PASSENGER</td>
    </tr>
    </tbody>

</table>


<table class="table table-bordered table-striped table-condensed" >

    <tbody>
    <tr>
        <td class="number" style="border-width:0px">1</td>
        <td style="width: 15%" class="my_td">Name </td>
        <td style="width:15%"> <input class="ingizo-driver" ng-model="pass_name"  type="text" required/> </td>
        <td style="width: 16.5%" class="my_td">Gender</td>
        <td style="width:16.5%"> <input class="ingizo-driver"  type="text"   ng-model="pass_gender"/> </td>
        <td style="width: 17%" class="my_td">Date of Birth </td>
        <td style="width:17%"> <input class="ingizo-driver" ng-model="pass_dob" type="text" required/> </td>

    <tr>

        <td class="number" style="border-width:0px">2</td>
        <td style="width: 15%" class="my_td">Physical Address </td>
        <td style="width:15%"> <input class="ingizo-driver"  type="text" required ng-model="pass_physical_address"/> </td>
        <td style="width: 16.5%" class="my_td">Address</td>
        <td style="width:16.5%"> <input class="ingizo-driver" ng-model="pass_address" type="text" required/> </td>
        <td style="width: 17%" class="my_td">Nationality/ID  </td>
        <td style="width:17%"> <input class="ingizo-driver" ng-model="pass_national_id"  type="text" required/> </td>
    </tr>
    <tr>

        <td class="number" style="border-width:0px">3</td>
        <td style="width: 15%" class="my_td">Phone Number </td>
        <td style="width:15%"> <input class="ingizo-driver"  type="text" required ng-model="pass_phone_number"/> </td>
        <td style="width: 16.5%"  class="my_td">
            Alcohol [%]


        </td>
        <td style="width: 16.5%">
            <input class="ingizo-driver"  type="text" required ng-model="pass_alcohol"/>
        </td>

        <td style="width: 17%"  class="my_td">Passenger casuality </td>
        <td style="width: 17%">
            <input class="ingizo-driver"  type="text" required ng-model="pass_casuality"/>
        </td>
    </tr>
    </tbody>
</table>



<table class="table table-bordered table-striped " id="driver1">

    <tbody>
    <tr>
        <td class="my_heading2" style="border-width:0px;width: 100%">F:WITNESS</td>
    </tr>
    </tbody>

</table>


<table class="table table-bordered table-striped table-condensed" >

    <tbody>
    <tr>
        <td class="number" style="border-width:0px">1</td>
        <td style="width: 15%" class="my_td">Name </td>
        <td style="width:15%"> <input class="ingizo-driver"  type="text" required  ng-model="witness_name"/> </td>
        <td style="width: 16.5%" class="my_td">Gender</td>
        <td style="width:16.5%"> <input class="ingizo-driver"  type="text" required  ng-model="witness_gender"/> </td>
        <td style="width: 17%" class="my_td">Date of Birth </td>
        <td style="width:17%"> <input class="ingizo-driver"  type="text" required  ng-model="witness_dob"/> </td>

    <tr>

        <td class="number" style="border-width:0px">2</td>
        <td style="width: 15%" class="my_td">Physical Address </td>
        <td style="width:15%"> <input class="ingizo-driver"  type="text" required ng-model="witness_physical_address"/> </td>
        <td style="width: 16.5%" class="my_td">Address</td>
        <td style="width:16.5%"> <input class="ingizo-driver"  type="text" required  ng-model="witness_address"/> </td>
        <td style="width: 17%" class="my_td">Nationality/ID  </td>
        <td style="width:17%"> <input class="ingizo-driver"  type="text" required ng-model="witness_national_id"/> </td>
    </tr>
    </tbody>
</table>


</div>
</div>

</form>

<div style="padding-top: 10px">
<center>
<a href="/export/accident/pdf"><md-button style="padding-top: 2px" class="md-raised md-primary" > Download</md-button></a>
</center>
</div>
</div>
