
form .ng-invalid-required.ng-dirty { background-color: #c7254e; }
form .ng-invalid-text.ng-dirty { background-color: #843534; }
form .ng-invalid-password.ng-dirty { background-color: lightpink; }
form .ng-valid.ng-dirty { background-color: lightgreen; }
form .ng-dirty { background-color: lightgreen; }
table{
    padding:0px;margin:0px;border:0px;
    border-color: #000000;
}

body{
    padding-top: 0px;
}
.panel-body{
    padding:0px;margin:0px;border:0px;
}

.panel-heading{
    padding:0px;margin:0px;border:0px;
}

.table,.table-condensed,.table-bordered,.table-striped{

    border-width: 0px;
    padding:0px;margin:0px;border:0px;
}
th h4{
    color: red;
}

td{
    text-align: center;

}

.my_td{
    border-width: 0px;
    background-color: #ffffff;
    text-align: left;
    padding-left:3px;
    border: 0px;

}
.my_td >td{border: 0px;}

#driver input{width: 100px;}

.ingizo{
    width: 100%;border:0px;
    background-color: #fcd5b4;
    border-width: 0px;
    border: 0px;
}

.statistics{
    width: 100%;
    border-left: 5px !important;
    border-right: 5px !important;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-bottom-style: double;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ingizo-driver{
    width: 100%;border:0px;
    background-color:#d7e4bc;
    border-width: 0px;
    border: 0px;
}

.ingizo-gari{
    width: 100%;border:0px;
    background-color:#ffffc5;
    border-width: 0px;
    border: 0px;

}
.ingizo-damage{
    width: 100%;border:0px;
    background-color:#f2dddc;
    border-width: 0px;
    border: 0px;

}
.ingizo-insurance{
    width: 100%;border:0px;
    background-color:#f2dddc;
    border-width: 0px;
    border: 0px;

}
.number{
    border-width:0px;
    background-color: #c5d9f1;
    border-width: 0px;
    width:3%;
    border: 0px;
}

.checkbox{

}
.driver{
    background-color: #d7e4bc;

}
.vehicle{
    background-color: #ffffc5;
    width: 100%;border:0px;padding:0px;

}

.insurance{
    background-color: #f2dddc;

}
.carddemoBasicUsage md-card {
    min-height: 50px; }

.md-tab {
    margin: 0px;
    padding-bottom: 0px;
}

.md-tab>label {
    margin: 0px;
    padding-bottom: 0px;
}

section .md-header {
    margin: 0px;
    padding-bottom: 0px;
}

section .md-tabs-content {
    margin:0px;
    padding-bottom: 0px;
}


.my_heading{
    font-size: 100%;
    font-weight: bold;
    color: red;
    border-width:0px;
    border-right-width: 1px;
    width:33%;
    background-color: #c5d9f1;
}
.my_heading2{
    border-width:0px;color: red;font-weight: bold;
    border-right-width: 1px;
    width:28%;
    background-color: #c5d9f1;
}
.heading_passenger{
    border-width:0px;color: red;font-weight: bold;
    border-right-width: 1px;
    width:100%;
    background-color: #c5d9f1;

}

.check-element {
    padding: 0px;margin: 0px;border: 0px;
}
td > p{
    margin:0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
/**
BUTTONS CSS STYLESHEET
**/

.buttondemoBasicUsage {
    /** From vulcanized demo **/ }
.buttondemoBasicUsage section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 0px; }
.buttondemoBasicUsage .md-content {
    margin-right: 7px; }
.buttondemoBasicUsage section .md-button:not(.md-fab) {
    min-width: 10em; }
.buttondemoBasicUsage section .md-button {
    display: block;
    margin: 1em;
    line-height: 25px; }
.buttondemoBasicUsage .label {
    position: absolute;
    bottom: 5px;
    left: 7px;
    color: #ccc;
    font-size: 14px; }


/**
TABS CSS STYLESHEET
**/

.tabsdemoDynamicTabs .remove-tab {
    margin-bottom: 0px; }
.tabsdemoDynamicTabs .md-button {
    display: block; }
.tabsdemoDynamicTabs .demo-tab {
    text-align: center; }
.tabsdemoDynamicTabs .tab0, .tabsdemoDynamicTabs .tab1, .tabsdemoDynamicTabs .tab2, .tabsdemoDynamicTabs .tab3 {
    background-color: #ffffff; }

.tabsdemoDynamicTabs .md-header {
    background-color: #c5d9f1 !important;
    color: #000000 !important ;
    margin: 0px !important;}

.tabsdemoDynamicTabs .md-tab {
    color: #90caf9 !important; }

.tabsdemoDynamicTabs .md-tab.active, .tabsdemoDynamicTabs .md-tab:focus {
    color: white !important; }
.tabsdemoDynamicTabs .md-tab[disabled] {
    opacity: 0.5; }
.tabsdemoDynamicTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
.tabsdemoDynamicTabs .md-tabs-ink-bar {
    background-color: #FFFF8D !important; }
.tabsdemoDynamicTabs .title {
    padding-top: 0px;
    padding-right: 0px;
    text-align: left;
    text-transform: uppercase;
    color: #888;
    margin-top: 0px; }
.tabsdemoDynamicTabs [layout-align] > * {
    margin-left: 0px; }
.tabsdemoDynamicTabs form > [layout] > * {
    margin-left: 0px; }
.tabsdemoDynamicTabs .long > input {
    width: 100%; }
.tabsdemoDynamicTabs .md-button {
    max-height: 30px; }
.tabsdemoDynamicTabs .md-button.add-tab {
    margin-top: 0px;
    max-height: 30px !important; }


<!-- dialog style -->

.dialogdemoBasicUsage .full {
    width: 100%;
    height: 100%; }
.dialogdemoBasicUsage .gap {
    width: 50px; }
.dialogdemoBasicUsage .md-subheader {
    background-color: #dcedc8;
    margin: 0px; }
.dialogdemoBasicUsage h2.md-subheader {
    margin: 0px;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px; }
.dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
    margin-right: 0px;
    margin-top: 0px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }
.dialogdemoBasicUsage h2 .md-subheader-content {
    padding-left: 0px; }



<!-- dialog style -->


.checkboxdemoBasicUsage body {
    padding: 0px; }
