<style>
	.md-dialog-container{
		position: fixed;
		height: 100%;
	}
	.show-details{
		/* float: right; */
		cursor: pointer;
		padding: 20px;
		color: blue;
	}
	.show-details:hover{
		text-decoration: underline;
	}
	.expiry{
		border: 2px solid #F44336;
		background: #E57373;
		height: 40px;
		display: inline-block;
		width: 100%;
		text-align: center;
		/* vertical-align: middle; */
		font-size: 24px;
	}
</style>

<div ng-controller="AddAccidentController">

	<h3 align = "center">Accident Registering</h3>

	<div style="padding:50px;padding-top:0">

		<!-- basic info for adding accident-->
		<div class = "panel panel-default" ng-if = "accidentBasicInfo">
			<div class = "panel-heading">Basic Information Accident</div>
			<div class = "panel-body">
				<div class="row">
					<div  ng-repeat="(key,value) in emptyFormAccidentBasicInfo ">

						<div class = "col-sm-4">
							<label style="font-size: 0.8em">{{ key}}</label><br />

							<input ng-if="isString(key) && !hasDataSets(key)"  ng-model="newAccident[key]" class="form-control input-sm"/>
							<input ng-if="isInteger(key)"  ng-model="newAccident[key]" class="form-control input-sm" />
							<select  ng-if="isBoolean(key)"  ng-model="newAccident[key]" class="form-control input-sm">
								<option value="true">Yes</option><option value="false">No</option>
							</select>
							<select class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="newAccident[key]" />
							<input  ng-if="isDate(key)" ui-date="dateOptions" class="form-control input-sm" ng-model="newAccident[key]"/>

						</div>
					</div>

					<!-- attendant of accident and number of witness & vehicle -->
					<div class = "col-sm-4">
						<label style="font-size: 0.8em">Accident Attendant</label><br />
						<input class="form-control input-sm" ng-model="accidentAttendant">
					</div>
					<div class = "col-sm-4">
						<label style="font-size: 0.8em">Number Of Accident Vehicles</label><br />
						<input class="form-control input-sm" ng-model="numberOfAccidentVehicles">
					</div>
					<div class = "col-sm-4">
						<label style="font-size: 0.8em">Number of Witness</label><br />
						<input class="form-control input-sm" ng-model="numberOfWitness">
					</div>

				</div>
				<!-- button for providing info about accident vehicle -->
				<div  class = "row" style="margin:4%;">
					<div class = "pull-right">
						<button ng-click="addAccidentVehicle()" class="btn btn-primary " style="color:#fff0ff;">Next</button>
					</div>
				</div>

			</div>
		</div>



		<div class = "panel panel-default" ng-if = "accidentVehicle">
			<div class = "panel-heading">Accident Vehicle(s) Information</div>
			<div class = "panel-body">

				<div  ng-repeat="(key,value) in emptyFormAccidentVehicle ">

					<div class = "col-sm-4">

						<label style="font-size: 0.8em">{{ key}}</label><br />
						<input ng-if="isString(key) && !hasDataSets(key)"  ng-model="newAccidentVehicle[key]" class="form-control input-sm"/>
						<input ng-if="isInteger(key)"  ng-model="newAccidentVehicle[key]" class="form-control input-sm" />
						<select  ng-if="isBoolean(key)"  ng-model="newAccidentVehicle[key]" class="form-control input-sm">
							<option value="true">Yes</option><option value="false">No</option>
						</select>
						<select class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="newAccidentVehicle[key]" />
						<input  ng-if="isDate(key)" ui-date="dateOptions" class="form-control input-sm" ng-model="newAccidentVehicle[key]"/>

					</div>
				</div>

				<div  class = "row" style="margin:4%;">
					<div class = "pull-right">
						<button ng-click="addAccidentWitness()" class="btn btn-primary " style="color:#fff0ff;">Next</button>
					</div>
				</div>

			</div>
		</div>

		<div class = "panel panel-default" ng-if = "accidentWitness">
			<div class = "panel-heading">Accident Vehicle's Witness Information</div>
			<div class = "panel-body">

				<div  ng-repeat="(key,value) in emptyFormAccidentWitness ">

					<div class = "col-sm-4">

						<label style="font-size: 0.8em">{{ key}}</label><br />
						<input ng-if="isString(key) && !hasDataSets(key)"  ng-model="newAccidentVehicle[key]" class="form-control input-sm"/>
						<input ng-if="isInteger(key)"  ng-model="newAccidentVehicle[key]" class="form-control input-sm" />
						<select  ng-if="isBoolean(key)"  ng-model="newAccidentVehicle[key]" class="form-control input-sm">
							<option value="true">Yes</option><option value="false">No</option>
						</select>
						<select class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="newAccidentVehicle[key]" />
						<input  ng-if="isDate(key)" ui-date="dateOptions" class="form-control input-sm" ng-model="newAccidentVehicle[key]"/>

					</div>
				</div>

				<!--<div class="row">
					<div class="col-sm-4">
						<label style="font-size: 0.8em">First Name</label><br />
						<input  ng-model="newAccidentWitness['First Name']" class="form-control input-sm" />
					</div>

					<div class="col-sm-4">
						<label style="font-size: 0.8em">Middle Name</label><br />
						<input  ng-model="newAccidentWitness['Middle Name']" class="form-control input-sm" />
					</div>

					<div class="col-sm-4">
						<label style="font-size: 0.8em">Last Name</label><br />
						<input  ng-model="newAccidentWitness['Last Name']" class="form-control input-sm" />
					</div>

					<div class="col-sm-4">
						<label style="font-size: 0.8em">Gender</label><br />
						<select class="form-control input-sm" ng-if="hasDataSets('Gender')"  ng-options="item.name as item.name for item in getOptionSets('Gender')" ng-model="newAccidentWitness['Gender']" />
					</div>

					<div class="col-sm-4">
						<label style="font-size: 0.8em">Physical Address</label><br />
						<input  ng-model="newAccidentWitness['Physical Address']" class="form-control input-sm" />
					</div>

					<div class="col-sm-4">
						<label style="font-size: 0.8em">Postal Address</label><br />
						<input  ng-model="newAccidentWitness['Postal Address']" class="form-control input-sm" />
					</div>

				</div>-->

			</div>
		</div>
		<div style = "text-align: center" ng-if = "accidentWitness">
			<button ng-click = "saveAccident() " class="btn btn-primary btn-xs" style="color:#fff0ff;margin-bottom:2%;">Add new Accident</button>
		</div>
	</div>
</div>