<style>
    .md-dialog-container{
        position: fixed;
        height: 100%;
    }
    .show-details{
        /* float: right; */
        cursor: pointer;
        padding: 20px;
        color: blue;
    }
    .show-details:hover{
        text-decoration: underline;
    }
    .expiry{
        border: 2px solid #F44336;
        background: #E57373;
        height: 40px;
        display: inline-block;
        width: 100%;
        text-align: center;
        /* vertical-align: middle; */
        font-size: 24px;
    }
</style>
<div ng-controller="EditAccidentController">
    <h3 align="center">Accident Editing</h3>

    <div class = "panel panel-default">

    </div>
</div>