<style>
    .md-dialog-container{
        position: fixed;
        height: 100%;
    }
    .show-details{
        /* float: right; */
        cursor: pointer;
        padding: 20px;
        color: blue;
    }
    .show-details:hover{
        text-decoration: underline;
    }
    .expiry{
        border: 2px solid #F44336;
        background-color: #E57373;
        height: 40px;
        display: inline-block;
        width: 100%;
        text-align: center;
        /* vertical-align: middle; */
        font-size: 24px;
    }
</style>
<div ng-controller="EditAccidentController">
    <!-- checking if ready to shw updates progress -->
    <div ng-if="!updateAccident">

        <h3 align="center">Accident Editing</h3>
        <div style="padding:50px;padding-top:0">

            <!---- basic information form-->
            <div class = "panel panel-default">
                <div class = "panel-heading">Basic Information Accident</div>
                <div class = "panel-body">

                    <div  ng-repeat="(key,value) in editAccidentForm ">

                        <div class = "col-sm-4">
                            <label style="font-size: 0.8em">{{ key}}</label><br />

                            <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isString(key) && !hasDataSets(key)"  ng-model="editedAccident[key]" class="form-control input-sm"  value = "editedAccident[key]"/>
                            <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isInteger(key)"  ng-model="editedAccident[key]" class="form-control input-sm" value = "editedAccident[key]" />
                            <select data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isBoolean(key)"  ng-model="editedAccident[key]" class="form-control input-sm">
                                <option value = "{{ editedAccident[key] }}">{{ editedAccident[key] == true? 'Yes':'No' }}</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <select data-toggle="tooltip"  title="{{ setDescription(key) }}" class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="editedAccident[key]">
                                <option value = "{{ editedAccident[key] }}">{{ editedAccident[key] }}</option>
                            </select>
                            <input data-toggle="tooltip"  title="{{ setDescription(key) }}"  ng-if="isDate(key)" ui-date="dateOptions" class="form-control input-sm" ng-model="editedAccident[key]" value = "editedAccident[key]"/>

                        </div>
                    </div>

                </div>
            </div>

            <div class = "panel panel-default" ng-if = "editedAccidentVehicles[0]">
                <div class = "panel-heading">Accident Vehicle(s) Information</div>

                <div class = "panel-body">
                    <!-- loading message -->
                    <div ng-if = "loadAccidentVihecles"style = "width: 50%;margin:auto;">
                        <div class="thumbnail" style="font-size:19px;z-index: 1000;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" >
                            <p align="center">
                                Loading Accident Vehicles
                            </p>
                        </div>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div ng-repeat="vehicle in vehicles ">

                            <div class="panel panel-default" style="margin-bottom: 0.5%;">
                                <div class="panel-heading" role="tab" id="heading{{ vehicle }}">
                                    <h4 class="panel-title" align = "center">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ vehicle }}" aria-expanded="true" aria-controls="collapse{{ vehicle }}">
                                            Accident Vehicle {{ vehicle + 1 }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse{{ vehicle }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ vehicle }}">
                                    <div class="panel-body">
                                        <!-- form fr adding each accident vehicle -->
                                        <div  ng-repeat="(key,value) in editAccidentVehicleForm ">
                                            <div class = "col-sm-4" ng-hide = "key >= 0" ng-if="key != 'Date of Birth' && key != 'Full Name' && key != 'Gender' && key != 'Vehicle Ownership Category' && key != 'Vehicle Owner Name' && key != 'Vehicle Class' && key != 'Make' && key != 'Model' " >
                                                <label style="font-size: 0.8em">{{ key}}</label><br />
                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isString(key) && !hasDataSets(key)"  ng-model="editedAccidentVehicles[vehicle][key]" class="form-control input-sm"/>
                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isInteger(key)"  ng-model="editedAccidentVehicles[vehicle][key]" class="form-control input-sm" />
                                                <select data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isBoolean(key)"  ng-model="editedAccidentVehicles[vehicle][key]" class="form-control input-sm">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                                <select data-toggle="tooltip"  title="{{ setDescription(key) }}" class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="editedAccidentVehicles[vehicle][key]" />
                                                <input ui-date-format="yy-mm-dd" data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isDate(key)" ui-date="dateOptions" class="form-control input-sm" ng-model="editedAccidentVehicles[vehicle][key]"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- forms for editing accident passengers -->
                                <div ng-if = "editedAccidentPassengers" style = "margin:1%;">
                                    <div class = "panel panel-default">
                                        <div class = "panel-heading">Accident Passengers Information</div>
                                        <div class = "panel-body"  >
                                            <!-- button for adding or show passenger information -->
                                            <div style = "margin:1%;">
                                                <button class = "btn btn-default" ng-click="showHideAccidentPassengers($index)">
                                                    <span ng-if = 'accidentPasengerVisibility[vehicle].visibility' >Hide passengers information</span>
                                                    <span ng-if = '!accidentPasengerVisibility[vehicle].visibility'>Show passengers information</span>
                                                </button>
                                            </div>

                                            <div ng-repeat=" passengerCounter in editedPassengersList " ng-if = "accidentPasengerVisibility[vehicle].visibility">
                                                <div ng-if = "editedAccidentPassengers[passengerCounter].Vehicle['id'] == editedAccidentVehicles[vehicle].Vehicle['id']" style = "margin-bottom:0.5%;" ng-init = "editedPassengerVehicleList[$index]['vehicle'] = vehicle ">
                                                    <div class = "panel panel-default" >
                                                        <div class = "panel-heading">Passenger</div>
                                                        <div class = "panel-body">
                                                            <div class = "col-sm-4" ng-repeat="(key,value) in editAccidentVehiclePassengerForm">

                                                                <label style="font-size: 0.8em" >{{ key}}</label><br />
                                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isString(key) && !hasDataSets(key)"  ng-model="editedAccidentPassengers[passengerCounter][key]" class="form-control input-sm"/>
                                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isInteger(key)"  ng-model="editedAccidentPassengers[passengerCounter][key]" class="form-control input-sm" />
                                                                <select data-toggle="tooltip"  title="{{ setDescription(key) }}"  ng-if="isBoolean(key)"  ng-model="editedAccidentPassengers[passengerCounter][key]" class="form-control input-sm">
                                                                    <option value="true">Yes</option><option value="false">No</option>
                                                                </select>
                                                                <select data-toggle="tooltip"  title="{{ setDescription(key) }}" class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="editedAccidentPassengers[passengerCounter][key]" />
                                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ui-date-format="yy-mm-dd" ng-if="isDate(key)" ui-date="dateOptions" class="form-control input-sm" ng-model="editedAccidentPassengers[passengerCounter][key]"/>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!--- ppanel for editing witness information -->
            <div class = "panel panel-default" ng-if = "editedaccidentWitnesses[0]">
                <div class = "panel-heading">Accident Vehicle's Witness Information</div>
                <div class = "panel-body">
                    <div class="panel-group" id="accordionwitness" role="tablist" aria-multiselectable="true">

                        <div ng-repeat="witness in witnesses ">

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading{{ witness }}">
                                    <h4 class="panel-title" align = "center">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseWitnes{{ witness }}" aria-expanded="true" aria-controls="collapse{{ witness }}">
                                            Accident Witness {{ witness + 1 }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseWitnes{{ witness }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ witness }}">
                                    <div class="panel-body">
                                        <!-- form fr adding each accident witness -->
                                        <div  ng-repeat="(key,value) in editAccidentWitness ">
                                            <div class = "col-sm-4" ng-hide = "key >= 0" >
                                                <label style="font-size: 0.8em">{{ key}}</label><br />
                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isString(key) && !hasDataSets(key)"  ng-model="editedaccidentWitnesses[witness][key]" class="form-control input-sm"/>
                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isInteger(key)"  ng-model="editedaccidentWitnesses[witness][key]" class="form-control input-sm" />
                                                <select data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isBoolean(key)"  ng-model="editedaccidentWitnesses[witness][key]" class="form-control input-sm">
                                                    <option value="true">Yes</option><option value="false">No</option>
                                                </select>
                                                <select data-toggle="tooltip"  title="{{ setDescription(key) }}" class="form-control input-sm" ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="editedaccidentWitnesses[witness][key]" />
                                                <input data-toggle="tooltip"  title="{{ setDescription(key) }}" ng-if="isDate(key)" ui-date-format="yy-mm-dd" ui-date="dateOptions" class="form-control input-sm" ng-model="editedaccidentWitnesses[witness][key]"/>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div style = "text-align: center" >
            <button ng-click="saveEditing()"class="btn btn-primary btn-xs" style="color:#fff0ff;margin-bottom:2%;">save changes</button>
        </div>

    </div >

    <!-- showing progressing mesages during saving new accident into system-->
    <div ng-if = "updateAccident">
        <div style="padding:50px;padding-top:0;margin-top: 3%;">
            <div class = "panel panel-default">
                <div class="panel-heading">Accident Updates progress</div>
                <div class = "panel-body">
                    <div class = "row">
                        <div ng-repeat="message in updateAccidentProgress">
                            <div class = "col-sm-12">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

