<style>
    a:hover{
        text-underline: none;
    }
    .rightPanel{
    	margin-top:125px;
    }
    .modal-dialog{
        margin-left: 8%;
        margin-right: 8%;
        width: 84%
    }
    .dataTables_paginate,.dataTables_info{
    	display:none !important;
    }
</style>
<div class="thumbnail" style="font-size:19px;position: absolute;bottom: 10px;right: 10px;z-index: 1000;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" ng-if="feedBack">{{ messagess }}</div>
<div class="thumbnail" style="font-size:19px;position: absolute;bottom: 10px;right: 10px;z-index: 1000;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" ng-if="progresMessage">{{ progresMessagess }}</div>
<div ng-class="normalClass" ng-style="normalStyle" style="margin-bottom:40px;"  id="offenceScope">
<div style="margin-top: 50px !important;">


        <div class="mws-panel-header"  style="height: 48px !important;">
            <span>Accidents Events<button ng-click="addAccident()" class="btn btn-primary btn-xs pull-right" style="color:#fff0ff;font-size: 11px"> Add New </button></span>
        </div>

        <div class="mws-panel-body no-padding">
        	
            <table datatable="ng" class="mws-datatable-fn mws-table">
                <thead>
                    <th>#</th>
                    <th>Accident Registration Number</th>
                    <th>Area of Accident</th>
                    <th>Cause of Accident</th>
                    <th>Date</th>
                    <th> Action</th>
                </thead>
                <tbody>
               
                <tr ng-repeat="event in data.accidents">
                    <td>{{ ($index+ 1) + ((pager.page - 1) * pager.pageSize)}}</td>
                    <td>{{event["Accident Registration Number"]}}</td>
                    <td>{{event["Area of Accident"]}}</td>
                    <td>{{event["Cause of Accident"]}}</td>
                    <td>{{event["Time of Accident"] | date:'dd MMM yyyy'}}</td>
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">

                                <li><a ng-click="viewAccidentInfo(event)">Info</a></li>
                                <li><a  ng-click="editAccidentInfo(event)">Edit</a> </li>
                               <!--  <li><a ng-click="showVehicle(event.Vehicle)">View Vehicle(s) Involved</a> </li>
                                <li><a ng-click="showDriver(event.Driver)">View Driver(s) Involved</a> </li>
                               <li><a ng-click="showMedia()">View Accident Media</a> </li>-->
                            	
                            	
                            </ul>
                        </div>
                    </td>

                </tr>
                </tbody>
            </table>
            <pagination class="pull-right" total-items="pager.total" page="pager.page"
          max-size="5" boundary-links="true"
          on-select-page="pageChanged(page)" items-per-page="pager.pageSize" class="pagination-sm">
        </pagination>       

    </div>
        
        
</div>
</div>
  </div>
  