<div>

<h4 style="padding-left:20px">ACCIDENT {{media.accident_reg_no}} MEDIA PREVIEW </h4>

<br>
<div class="row" >

  <div class="col-md-6">

    <md-card  style="height: 420px !important;">

        <a href="{{}}" style="display:block; height:400px;" id="player"></a>

            <script language='javascript'>
                flowplayer("player", "resources/js/flowplayer-3.1.5.swf");
            </script>

        <md-card-content>
            <h4>Video</h4>
        </md-card-content>

    </md-card>

 </div>

 <div class="col-md-6">

    <md-card style="height: 420px !important;">
        <img src="{{}}" style="height: 400px !important" alt="Image">
        <md-card-content>
            <h4>Image</h4>
        </md-card-content>

    </md-card>

 </div>

</div>

</div>