
<style>
    .my_table_td {
        padding: 10px !important;
        margin: 10px;
        text-align: left;
    }

</style>

<div class="col-sm-12" ng-controller="AccidentListController" style="padding: 10px">
    <md-toolbar>

        <center> <h2 class="md-toolbar-tools">
            ACCIDENTS REPORTED
        </h2>
        </center>
    </md-toolbar>

    <div class="input-form">
        <h5>You can filter here:</h5>
        <input type="search" ng-model="query" style="margin-bottom: 15px; width:100% " placeholder="Filter results here">
    </div>
    <table class="table table-striped " >
         <thead>
             <tr>
                 <th class="my_table_td">#</th>
                 <th class="my_table_td">ACCIDENT REG.NUMBER</th>
                 <th class="my_table_td">AREA </th>
                 <th class="my_table_td">CAUSE</th>
                 <th class="my_table_td">WEATHER</th>
                 <th class="my_table_td">FATALITIES</th>
                 <th class="my_table_td">INJURIES</th>
                 <th class="my_table_td">ACTIONS</th>
             </tr>
         </thead>

        <tbody>
        <tr ng-repeat="accident in accidentList | filter:query">
            <td class="my_table_td">{{$index + 1}}</td>
            <td class="my_table_td">{{accident['Accident Registration Number']}}</td>
            <td class="my_table_td">{{accident['Area of Accident']}}</td>
            <td class="my_table_td">{{accident['Accident Type']}}</td>
            <td class="my_table_td">{{accident.Weather}}</td>
            <td class="my_table_td">{{accident['Number of Fatal Injuries']}}</td>
            <td class="my_table_td">{{accident['Number of Severe Injuries']}}</td>
            <td class="my_table_td">
                <a href="#/api/accident/view/{{accident.id}}" title="View Accident." >
                    <md-button class="md-fab" aria-label="Time" style="width: 26px; height: 26px;">
                        <md-icon icon="img/ic_menu_black_48dp.png" style="width: 16px; height: 16px;"></md-icon>
                    </md-button>
                </a>
                <a href="#/media/{{accident.id}}"  title="View Accident Media." style="margin-left: 10px">
                    <md-button class="md-fab" aria-label="Time" style="width: 26px; height: 26px;">
                        <md-icon icon="img/ic_menu_black_48dp.png" style="width: 16px; height: 16px;"></md-icon>
                    </md-button>
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
