<style>
    .entry{
        border: 0px;
        border-bottom-style:solid ;
        border-bottom-color:#767678;
        border-bottom-width:1px ;
        width: 100%;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 10px;
    }.entry:focus{
         border-bottom-width:2px ;
         border-bottom-right-radius: 0px;
         border-bottom-left-radius: 0px;
         border-bottom-color:#000000;
     }
</style>
<h3 class="text-center">Motor Vehicle  Licensing</h3>
<md-tabs md-selected="selectedIndex" flex>
    <md-tab label="Road License" class="col-md-6">
        <div class="demo-tab tab1" layout="column" layout-align="space-around center">
            <form name="kayaForm" novalidate>
            <div class="col-sm-12">
                <div class="col-sm-8">
                    <div class="col-sm-12">
                        <div class="col-xs-10"><b>Car Plate Number:</b> <input ng-change="checkCar(currentKaya.car_id,data.vehicles)" type="text" class="entry" ng-model="currentKaya.car_id" required/></div>
                        <div class="col-xs-10"><b>License Number:</b> <input type="text" class="entry" ng-model="currentKaya.license_no" required/></div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-xs-10"><b>Start Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.start_date" required/></div>
                        <div class="col-xs-10"><b>Expiry Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.end_date" required/></div>
                    </div>
                    <!--saving messages-->
                    <span class="pull-left" ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                    <span class="pull-left text-success" ng-if="kayaSavedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                    <span class="pull-left text-danger" ng-if="kayaSavedFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

                    <!--updating message-->
                    <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                    <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                    <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div ng-hide="currentEditting"class="btn btn-primary btn-sm" ng-click="saveVehicleLicence(currentKaya)" ng-disabled="kayaForm.$invalid">&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i> Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
                    <div ng-show="currentEditting" class="btn btn-primary btn-sm pull-right" ng-click="updateKaya(currentKaya)">Update </div>
                    <div ng-show="currentEditting" class="btn btn-warning btn-sm pull-right" ng-click="cancelEditting()">Cancel </div>

                    <table class="table table-striped " ng-show="currCar" >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>License Number</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="road in currCar.roadLicence">
                            <td>{{$index + 1}}</td>
                            <td>{{road.license_no}}</td>
                            <td>{{road.start_date | date:'yyyy MMM dd' }}</td>
                            <td>{{road.end_date | date:'yyyy MMM dd'}}</td>


                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <h4>Vehicle Details</h4>
                    <table class="table" ng-show="currCar">
                        <tr>
                            <th>make</th>
                            <td>{{ currCar.make }}</td>
                        </tr>
                        <tr>
                            <th>Model</th>
                            <td>{{ currCar.type }}</td>
                        </tr>
                        <tr>
                            <th>Model Number</th>
                            <td>{{ currCar.model_number }}</td>
                        </tr>
                        <tr>
                            <th>Body Type</th>
                            <td>{{ currCar.body_type }}</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td ng-style="{'background-color':currCar.color }">{{ currCar.color }}</td>
                        </tr>
                        <tr>
                            <th>Class</th>
                            <td>{{ currCar.class }}</td>
                        </tr>
                        <tr>
                            <th>Year Of Manufacture</th>
                            <td>{{ currCar.yom }}</td>
                        </tr>
                        <tr>
                            <th>Chassis Number</th>
                            <td>{{ currCar.chasis_no }}</td>
                        </tr>
                        <tr>
                            <th>Engine Capacity</th>
                            <td>{{ currCar.engine_capacity }}</td>
                        </tr>
                        <tr>
                            <th>Engine Number</th>
                            <td>{{ currCar.engine_number }}</td>
                        </tr>
                        <tr>
                            <th>Fuel Used</th>
                            <td>{{ currCar.fuel }}</td>
                        </tr>
                        <tr>
                            <th>Number of Axels</th>
                            <td>{{ currCar.number_of_axial }}</td>
                        </tr>
                        <tr>
                            <th>Axle Distance</th>
                            <td>{{ currCar.axial_distance }}</td>
                        </tr>
                        <tr>
                            <th>Seating Capacity</th>
                            <td>{{ currCar.seating_capacity }}</td>
                        </tr>
                        <tr>
                            <th>Tare Weight</th>
                            <td>{{ currCar.tare_weight }}</td>
                        </tr>
                        <tr>
                            <th>Gross Weight</th>
                            <td>{{ currCar.gross_wheight }}</td>
                        </tr>
                        <tr>
                            <th>Imported From</th>
                            <td>{{ currCar.imported_from }}</td>
                        </tr>

                    </table>
                </div>
            </div>
</form>

        </div>
    </md-tab>
    <md-tab label="Business License"  style="width: 300px">
        <div class="demo-tab tab2" layout="column" layout-align="space-around center">
            <form name="kayaForm" novalidate>
                <div class="col-sm-12">
                    <div class="col-sm-8">
                        <div class="col-sm-12">
                            <div class="col-xs-12"><b>Licence No:</b> <input type="text" class="entry" ng-model="currentKaya.license_no" required/></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-6"><b>Start Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.start_date" required/></div>
                            <div class="col-xs-6"><b>Expiry Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.end_date" required/></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-6"><b>Nature of application</b>
                                <select class="entry" ng-model="currentKaya.application_nature">
                                    <option value="">-- Select --</option>
                                    <option value="New">New</option>
                                    <option value="Renewal">Renewal</option>
                                    <option value="Renewal">Change of Route</option>
                                    <option value="Replacement">Replacement</option>
                                </select>
                            </div>
                            <div class="col-xs-6"><b>Period applied for</b>
                                <select class="entry" ng-model="currentKaya.period">
                                    <option value="">-- Select --</option>
                                    <option value="One year">One year</option>
                                    <option value="Short-term">Short-term</option>
                                </select>
                            </div>
                        </div>
                        <h3>A. PARTICULARS OF APPLICANT</h3>
                        <div class="col-sm-12">
                            <div class="col-xs-12"><b>Business Name in Full:</b> <input  type="text" class="entry" ng-model="currentKaya.business_name" required/></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-6"><b>Postal Address:</b> <input  type="text" class="entry" ng-model="currentKaya.postal_address" /></div>
                            <div class="col-xs-6"><b>Physical Address:</b> <input type="text" class="entry" ng-model="currentKaya.pysical_address" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-6"><b>Tel:</b> <input  type="text" class="entry" ng-model="currentKaya.tel" /></div>
                            <div class="col-xs-6"><b>Fax:</b> <input type="text" class="entry" ng-model="currentKaya.fax" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-12"><b>Email:</b> <input  type="text" class="entry" ng-model="currentKaya.email" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div ng-class="(currentKaya.prev_license == 'Yes')?'col-xs-6':'col-xs-12'"><b>Do you hold or previously held a Transport Licence?</b>
                                <select class="entry" ng-model="currentKaya.prev_license">
                                    <option value="">-- Select --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>                            </div>
                            <div class="col-xs-6" ng-if="currentKaya.prev_license == 'Yes'"><b>License Number</b> <input type="text" class="entry" ng-model="currentKaya.prev_license_no" required/></div>
                        </div>
                        <div class="col-sm-12" ng-if="currentKaya.prev_license == 'Yes'">
                            <div class="col-xs-6" ><b>Date of Expiry</b> <input ui-date="dateOptions"  type="text" class="entry" ng-model="currentKaya.prev_expiry" /></div>
                            <div class="col-xs-6"><b>Place of Issue</b> <input type="text" class="entry" ng-model="currentKaya.prev_issued" /></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-12"><b>Have you had a previous application refused/suspended or revoked?</b>
                                <select class="entry" ng-model="currentKaya.prev_refusal">
                                    <option value="">-- Select --</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>                            </div>
                        </div>
                        <div class="col-sm-12" ng-if="currentKaya.prev_refusal == 'Yes'">
                            <div class="col-xs-6" ><b>Place of Action</b> <input  type="text" class="entry" ng-model="currentKaya.prev_refusal_place" /></div>
                            <div class="col-xs-6"><b>Date of Action</b> <input ui-date="dateOptions" type="text" class="entry" ng-model="currentKaya.prev_refusal_date" /></div>
                        </div>
                        <div class="col-sm-12" ng-if="currentKaya.prev_refusal == 'Yes'">
                            <div class="col-xs-12" ><b>State reasons for application refusal, licence suspension or revocation</b> <textarea style="width: 100%" data-ng-model="currentKaya.prev_refusal_reason"></textarea></div>
                        </div>
                        <h3>A. PARTICULARS OF VEHICLE FOR WHICH LICENCE IS SOUGHT</h3>
                        <div class="col-sm-12">
                            <div class="col-xs-6"><b>Car Plate Number:</b> <input ng-change="checkCar(currentKaya.car_id,data.vehicles)" type="text" class="entry" ng-model="currentKaya.car_id" required/></div>
                            <div class="col-xs-6"><b>Body type for passenger carrying vehicles:</b>
                                <select class="entry" ng-model="currentKaya.body_type">
                                    <option value="">-- Select --</option>
                                    <option value="Micro bus">Micro bus</option>
                                    <option value="Mini bus">Mini bus</option>
                                    <option value="Large bus">Large bus</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-6"><b>Classes of services:</b>
                                <select class="entry" ng-model="currentKaya.class_of_service">
                                    <option value="">-- Select --</option>
                                    <option value="Ordinary">Ordinary</option>
                                    <option value="Semi luxury">Semi luxury</option>
                                    <option value="Luxury">Luxury</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            <div class="col-xs-6"><b>Maximum Number of Passengers:</b> <input type="text" class="entry" ng-model="currentKaya.passenger_capacity" required/></div>

                        </div>
                        <h3>A. PARTICULARS OF SERVICE FOR WHICH LICENCE IS SOUGHT</h3>
                        <div class="col-sm-12">
                            <div class="col-xs-12"><b>Area or route(s) in or over which it is desired to operate:</b> <input type="text" class="entry" ng-model="currentKaya.route" required/></div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-xs-12"><b>Nature/Type of service:</b>
                                <select class="entry" ng-model="currentKaya.nature_of_service">
                                    <option value="">-- Select --</option>
                                    <option value="Local Operator">Local Operator</option>
                                    <option value="Tour operator">Tour operator</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>                        </div>

                        <div class="col-sm-12">
                            <b style="padding-left: 15px">Timetable and fare details</b>
                            <table style="margin-left: 15px">
                                <tr>
                                    <td></td><td>Outward journey</td><td>Return journey</td>
                                </tr>
                                <tr>
                                    <td>Departure</td>
                                    <td><input type="text" class="entry" ng-model="currentKaya.outward_departure"/></td>
                                    <td><input type="text" class="entry" ng-model="currentKaya.return_departure"/></td>
                                </tr>
                                <tr>
                                    <td>Arrival Time</td>
                                    <td><input type="text" class="entry" ng-model="currentKaya.outward_arrival"/></td>
                                    <td><input type="text" class="entry" ng-model="currentKaya.return_arrival"/></td>
                                </tr>
                                <tr>
                                    <td>Fare: Tshs</td>
                                    <td colspan="2"><input type="text" class="entry" ng-model="currentKaya.fare"/></td>
                                </tr>
                            </table>
                        </div>
                        <h3>D. PARTICULARS/DOCUMENTS TO BE PROVIDED WITH THE APPLICATION <input type="checkbox" ng-model="showdocs"></h3>
                        <div class="col-sm-12" ng-if="showdocs">
                        This application must be accompanied by the items listed below. The licensing may require more particulars.
                        <ul>
                            <li> Previous Licence</li>
                            <li> Vehicle Registration Card • Valid Insurance Certificate</li>
                            <li> Vehicle inspection Report</li>
                            <li> Proposed pick up and set down points</li>
                            <li> Booking offices where departure and arrival activities operates</li>
                        </ul>
                        </div>
                            <!--saving messages-->
                        <span class="pull-left" ng-if="currentSaving"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                        <span class="pull-left text-success" ng-if="kayaSavedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                        <span class="pull-left text-danger" ng-if="kayaSavedFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

                        <!--updating message-->
                        <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                        <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                        <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div ng-hide="currentEditting"class="btn btn-primary btn-sm" ng-click="saveBussinesLicence(currentKaya)" ng-disabled="kayaForm.$invalid">&nbsp;&nbsp;&nbsp;<i class="fa fa-save"></i> Save&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
                        <div ng-show="currentEditting" class="btn btn-primary btn-sm pull-right" ng-click="updateKaya(currentKaya)">Update </div>
                        <div ng-show="currentEditting" class="btn btn-warning btn-sm pull-right" ng-click="cancelEditting()">Cancel </div>
                    </div>
                    <div class="col-sm-4">
                        <h4>Vehicle Details</h4>
                        <table class="table" ng-show="currCar">
                            <tr>
                                <th>make</th>
                                <td>{{ currCar.make }}</td>
                            </tr>
                            <tr>
                                <th>Model</th>
                                <td>{{ currCar.type }}</td>
                            </tr>
                            <tr>
                                <th>Model Number</th>
                                <td>{{ currCar.model_number }}</td>
                            </tr>
                            <tr>
                                <th>Body Type</th>
                                <td>{{ currCar.body_type }}</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td ng-style="{'background-color':currCar.color }">{{ currCar.color }}</td>
                            </tr>
                            <tr>
                                <th>Class</th>
                                <td>{{ currCar.class }}</td>
                            </tr>
                            <tr>
                                <th>Year Of Manufacture</th>
                                <td>{{ currCar.yom }}</td>
                            </tr>
                            <tr>
                                <th>Chassis Number</th>
                                <td>{{ currCar.chasis_no }}</td>
                            </tr>
                            <tr>
                                <th>Engine Capacity</th>
                                <td>{{ currCar.engine_capacity }}</td>
                            </tr>
                            <tr>
                                <th>Engine Number</th>
                                <td>{{ currCar.engine_number }}</td>
                            </tr>
                            <tr>
                                <th>Fuel Used</th>
                                <td>{{ currCar.fuel }}</td>
                            </tr>
                            <tr>
                                <th>Number of Axels</th>
                                <td>{{ currCar.number_of_axial }}</td>
                            </tr>
                            <tr>
                                <th>Axle Distance</th>
                                <td>{{ currCar.axial_distance }}</td>
                            </tr>
                            <tr>
                                <th>Seating Capacity</th>
                                <td>{{ currCar.seating_capacity }}</td>
                            </tr>
                            <tr>
                                <th>Tare Weight</th>
                                <td>{{ currCar.tare_weight }}</td>
                            </tr>
                            <tr>
                                <th>Gross Weight</th>
                                <td>{{ currCar.gross_wheight }}</td>
                            </tr>
                            <tr>
                                <th>Imported From</th>
                                <td>{{ currCar.imported_from }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </form>
        </div>
    </md-tab>
</md-tabs>