<style>
    .entry{
        border: 0px;
        border-bottom-style:solid ;
        border-bottom-color:#767678;
        border-bottom-width:1px ;
        width: 100%;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: #ffffff;
        margin-bottom: 10px;
    }.entry:focus{
         border-bottom-width:2px ;
         border-bottom-right-radius: 0px;
         border-bottom-left-radius: 0px;
         border-bottom-color:#000000;
     }
</style>
<h1 class="text-center">Car Inspection</h1>
<md-button class="md-hue-3 md-raised" href="#/car/{{currCar.id}}">Back to Vehicle </md-button>
<div class="col-sm-12">
<div class="col-sm-9">
<div class="col-xs-6"><b>Car Plate Number:</b> <input ng-keyUp="checkCar(currentKaya.car_id,data.vehicles)" type="text" class="entry" ng-model="currentKaya.car_id" required/></div>
<div class="col-xs-6"><b>Inspection Date:</b> <input type="text" ui-date="dateOptions" class="entry" ng-model="currentKaya.inspection_date" required/></div>
<div ng-if="currCar">
<h3 class="text-warning">Inspection for the performance characteristics </h3>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.wheel_alignment == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.wheel_alignment == 'Failed'" class="fa fa-times text-danger"></i> Inspection of steering wheel alignment
        <select class="entry" ng-model="currentKaya.wheel_alignment" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.braking_force == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.braking_force == 'Failed'" class="fa fa-times text-danger"></i> Inspection of braking force
        <select class="entry" ng-model="currentKaya.braking_force" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.noise_produced == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.noise_produced == 'Failed'" class="fa fa-times text-danger"></i> Level of noise produced by automobile
        <select class="entry" ng-model="currentKaya.noise_produced" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.gas_from_automobile == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.gas_from_automobile == 'Failed'" class="fa fa-times text-danger"></i> Exhaust gas from automobile
        <select class="entry" ng-model="currentKaya.gas_from_automobile" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.optical_axis == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.optical_axis == 'Failed'" class="fa fa-times text-danger"></i>  Brightness of headlamps and orientation of main optical axis
        <select class="entry" ng-model="currentKaya.optical_axis" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.horn == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.horn == 'Failed'" class="fa fa-times text-danger"></i>  Horn
        <select class="entry" ng-model="currentKaya.horn" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.speedometer == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.speedometer == 'Failed'" class="fa fa-times text-danger"></i>  Speedometer
        <select class="entry" ng-model="currentKaya.speedometer" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.background_radiation == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.background_radiation == 'Failed'" class="fa fa-times text-danger"></i> Background Radiation
        <select class="entry" ng-model="currentKaya.background_radiation" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<h3 class="text-warning">Inspection for the operational requirements</h3>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.inspection_for_engine == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.inspection_for_engine == 'Failed'" class="fa fa-times text-danger"></i> Inspection for engine
        <select class="entry" ng-model="currentKaya.inspection_for_engine" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.exhaust_pipe == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.exhaust_pipe == 'Failed'" class="fa fa-times text-danger"></i> Exhaust pipe
        <select class="entry" ng-model="currentKaya.exhaust_pipe" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.cooling_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.cooling_system == 'Failed'" class="fa fa-times text-danger"></i> Inspection of cooling system
        <select class="entry" ng-model="currentKaya.cooling_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.fuel_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.fuel_system == 'Failed'" class="fa fa-times text-danger"></i> Fuel system
        <select class="entry" ng-model="currentKaya.fuel_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.transmission_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.transmission_system == 'Failed'" class="fa fa-times text-danger"></i> Transmission system
        <select class="entry" ng-model="currentKaya.transmission_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.suspension_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.suspension_system == 'Failed'" class="fa fa-times text-danger"></i> Suspension system
        <select class="entry" ng-model="currentKaya.suspension_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>

<h3 class="text-warning">Inspection of axles, wheels, and tyres</h3>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.axles == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.axles == 'Failed'" class="fa fa-times text-danger"></i> Axles
        <select class="entry" ng-model="currentKaya.axles" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.steering_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.steering_system == 'Failed'" class="fa fa-times text-danger"></i> Steering system
        <select class="entry" ng-model="currentKaya.steering_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.brake_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.brake_system == 'Failed'" class="fa fa-times text-danger"></i> Brake system
        <select class="entry" ng-model="currentKaya.brake_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.tyres == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.tyres == 'Failed'" class="fa fa-times text-danger"></i> Tyres
        <select class="entry" ng-model="currentKaya.tyres" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.window_glass == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.window_glass == 'Failed'" class="fa fa-times text-danger"></i> Front windshield and other window glass
        <select class="entry" ng-model="currentKaya.window_glass" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.reflectors == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.reflectors == 'Failed'" class="fa fa-times text-danger"></i> Lighting devices and reflectors
        <select class="entry" ng-model="currentKaya.reflectors" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.ensuring_vision == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.ensuring_vision == 'Failed'" class="fa fa-times text-danger"></i> Devices for ensuring vision
        <select class="entry" ng-model="currentKaya.ensuring_vision" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.other_instruments == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.other_instruments == 'Failed'" class="fa fa-times text-danger"></i>  Mileage meter and other instruments
        <select class="entry" ng-model="currentKaya.other_instruments" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.warning_system == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.warning_system == 'Failed'" class="fa fa-times text-danger"></i> Warning system
        <select class="entry" ng-model="currentKaya.warning_system" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.carrying_equipment == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.carrying_equipment == 'Failed'" class="fa fa-times text-danger"></i> Goods-carrying equipment
        <select class="entry" ng-model="currentKaya.carrying_equipment" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.vehicle_body == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.vehicle_body == 'Failed'" class="fa fa-times text-danger"></i> Frame and vehicle body
        <select class="entry" ng-model="currentKaya.vehicle_body" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.vehicle_dimensions == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.vehicle_dimensions == 'Failed'" class="fa fa-times text-danger"></i> Vehicle dimensions
        <select class="entry" ng-model="currentKaya.vehicle_dimensions" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.coupling_device == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.coupling_device == 'Failed'" class="fa fa-times text-danger"></i> Coupling device
        <select class="entry" ng-model="currentKaya.coupling_device" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <div class="col-sm-6">
        <i ng-if="currentKaya.seating_arrangement == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.seating_arrangement == 'Failed'" class="fa fa-times text-danger"></i> Seating arrangement
        <select class="entry" ng-model="currentKaya.seating_arrangement" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <i ng-if="currentKaya.appearance == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.appearance == 'Failed'" class="fa fa-times text-danger"></i> Vehicle appearance
        <select class="entry" ng-model="currentKaya.appearance" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
    <!--remove this latter-->
    <div class="col-sm-6">
        <i ng-if="currentKaya.overhang == 'Passed'" class="fa fa-check text-success"></i><i ng-if="currentKaya.overhang == 'Failed'" class="fa fa-times text-danger"></i>  Rear overhang
        <select class="entry" ng-model="currentKaya.overhang" ng-change="countInspection(currentKaya)">
            <option value="">-- Select --</option>
            <option value="Passed">Passed</option>
            <option value="Failed">Failed</option>
        </select>
    </div>
</div>
</div>
</div>
<div class="col-sm-3">
    <h4>Vehicle Details</h4>
    <table class="table" ng-show="currCar">
        <tr class="text-warning">
            <th>Passes {{ passed }}</th>
            <th>Failed {{ failed }}</th>
        </tr><tr>
        <th>make</th>
        <td>{{ currCar.make }}</td>
    </tr>
        <tr>
            <th>Model</th>
            <td>{{ currCar.type }}</td>
        </tr>
        <tr>
            <th>Model Number</th>
            <td>{{ currCar.model_number }}</td>
        </tr>
        <tr>
            <th>Body Type</th>
            <td>{{ currCar.body_type }}</td>
        </tr>
        <tr>
            <th>Color</th>
            <td ng-style="{'background-color':currCar.color }">{{ currCar.color }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ currCar.class }}</td>
        </tr>
        <tr>
            <th>Year Of Manufacture</th>
            <td>{{ currCar.yom }}</td>
        </tr>
        <tr>
            <th>Chassis Number</th>
            <td>{{ currCar.chasis_no }}</td>
        </tr>
        <tr>
            <th>Engine Capacity</th>
            <td>{{ currCar.engine_capacity }}</td>
        </tr>
        <tr>
            <th>Engine Number</th>
            <td>{{ currCar.engine_number }}</td>
        </tr>
        <tr>
            <th>Fuel Used</th>
            <td>{{ currCar.fuel }}</td>
        </tr>
        <tr>
            <th>Number of Axels</th>
            <td>{{ currCar.number_of_axial }}</td>
        </tr>
        <tr>
            <th>Axle Distance</th>
            <td>{{ currCar.axial_distance }}</td>
        </tr>
        <tr>
            <th>Seating Capacity</th>
            <td>{{ currCar.seating_capacity }}</td>
        </tr>
        <tr>
            <th>Tare Weight</th>
            <td>{{ currCar.tare_weight }}</td>
        </tr>
        <tr>
            <th>Gross Weight</th>
            <td>{{ currCar.gross_wheight }}</td>
        </tr>
        <tr>
            <th>Imported From</th>
            <td>{{ currCar.imported_from }}</td>
        </tr>

    </table>
</div>
</div>
