<style>
  .angular-google-map-container { margin-top:45px;height: 100%; min-height:1000px;}
  .form{
  	position:fixed;
  	top: 65px;
  	left:100px;
  	z-index:100;
  }
  .form2{
  	position:fixed;
  	top: 65px;
  	left:450px;
  	z-index:100;
  }
  .keys{
  	position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 100;
  }
  .table img{
  	height:20px
  }
  .selected {
  background-color: #aaddff;
  font-weight: bold;
}
	.org-unit-control {
	  display: block;
	  width: 300px;
	  height: 240px !important;
	  padding: 6px 12px;
	  font-size: 14px;
	  line-height: 1.428571429;
	  color: #555;
	  vertical-align: middle;
	  background-color: #fff;
	  background-image: none;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	  overflow-y:auto;height:100px
	}
	.org-unit-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control{
	width:100%;
}
.policingPanel{
	position: absolute;
    z-index: 100;
    width: 500px;
    top: 65px;
    right: 5px;
}
  </style>
<div class="angular-google-map-container">

	<div class="form">
		<div class="panel panel-default">
	  <div class="panel-heading">Vehicle Tracking Filter</div>

	  <div class="panel-body">
			<div class="row">
			<div class="col-sm-6" style="">
				Organisation Unit:
				  <div class="org-unit-control" ya-treeview ya-id="myTree" ya-model="tree.modal" ya-options="options" ya-context="tree.context">
					  <span ng-class="{selected: context.selectedNodes.indexOf(node) > -1}">{{ node.$model.name }}</span>
				  </div>
			</div>
			</div>
			<div class="row">
			<button ng-if="!isAddingFacility" ng-click="addFacility()" class="btn btn-default col-sm-6 pull-right" style="margin: 14px;">Add Facility</button>
			</div>
		</div>
	</div>
	</div>

<div ng-if="isAddingFacility" class="form2">
<div class="panel panel-default">
  <div class="panel-heading">Create New Facility
	  <a ng-click="cancelMenu()" class="pull-right"> <i class="fa fa-times"></i>  </a>
  </div>
  
  <div class="panel-body">
		<div class="row">
		<div class="col-sm-12" style="">
			<div class="form-group">
				<label>Facility Name</label><br />
            	<input ng-model="newFacility.name" class="form-control col-sm-12" />
            </div>
            <div class="form-group">
				<label>Latitude</label><br />
            	<input ng-model="newFacility.coordinates.latitude" class="form-control col-sm-12" />
            </div>
            <div class="form-group">
				<label>Longitude</label><br />
            	<input ng-model="newFacility.coordinates.longitude" class="form-control col-sm-12" />
            </div>
		</div>
		</div>
		<div class="row">
		<button ng-click="addFacility()" class="btn btn-default col-sm-6 pull-right" style="margin: 14px;">Save Facility</button>
		</div>
	</div>
</div>
</div>
<div class="policingPanel">
	<div class="panel panel-default">
  <div class="panel-heading">Community Policing Reports</div>
  
  <div class="panel-body">
		<div class="row">
		<table datatable="ng" class="mws-datatable-fn mws-table">
                <thead>
                <tr>
                    <th># </th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in events" ng-click="addMarker(event)">
                	<td>{{$index + 1}}</td>
                	<td>{{getDataValue(event,"Community Report Title")}}</td>
                	<td>{{getDataValue(event,"Community Report Type")}}</td>
                	<td>{{getDataValue(event,"Community Report Description")}}</td>
                </tr>
                </tbody>
        </table>
		</div>
	</div>
</div>
</div>
<ui-gmap-google-map control='mapObject' center='map.center' zoom='map.zoom'>
	
	<ui-gmap-marker options="marker.options" ng-repeat="marker in markers" coords="marker.coords" idkey="marker.id">
		<ui-gmap-window options="windowOptions" closeClick="closeClick()">
			<div>
			Vehicle {{plate_number}}
			<div class="row">
	        	<div class="form-group col-sm-6">
			  		<label>Latitude:</label>
					<div class="">{{marker.latitude}}</div>
				</div>
				<div class="form-group col-sm-6">
			  		<label >Longitude:</label>
					<div class="">{{marker.longitude}}</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
			  		<label>Altitude:</label>
					<div class="">{{marker.altitude}}m above sea level</div>
				</div>
				<div class="form-group col-sm-6">
			  		<label>Velocity:</label>
					<div class="">{{marker.velocity}}km/hr</div>
				</div>
			</div>
			</div>
        </ui-gmap-window>
    </ui-gmap-marker>
    <ui-gmap-marker ng-if="isAddingFacility" options="newFacility.options" draggable="true" coords="newFacility.coordinates" idkey="newFacility.id">
    </ui-gmap-marker>
</ui-gmap-google-map>
</div>