<div ng-controller="offencePaymentController">
<form>
<h1>Payment Report</h1>
<table>

<tr>
	<th>Entity</th><th>Status</th>
</tr>
<tr>
	<td>
		<select ng-model="entity" required class="form-control" ng-options="item as item.name for item in entities">
			<option value="?" selected="selected">Select Entity</option>
		</select>
	</td>
	<td>
		<select ng-model="status" class="form-control" ng-init="status.id" ng-options="item as item.name for item in statuses">
			<option value="?" selected="selected">Select Entity</option>
		</select>
	</td>
</tr>
<tr>
	<td colspan="2">
	<md-input-container style="padding:0"> 
		<label>{{entity.ref}}</label> 
		<input name="name" ng-model="request.id" required> 
	</md-input-container>
	</td>
</tr>
</table>
</form>
<table>
	<thead>
		<tr><th>#</th><th>Date</th><th>Place</th><th>Amount Payable</th><th>Status</th><th>Action</th></tr>
	</thead>
	<tbody>
		<tr ng-repeat="offence in offences">
			<td>{{$index + 1}}</td>
			<td>{{offence.offence_date}}</td>
			<td>{{offence.place}}</td>
			<td>{{offence.amount}}</td>
			<td>{{getStatus(offence.paid)}}</td>
			<td>
				<a href="#/offence/payment/{{offence.id}}">
					<md-button class="md-hue-3 md-raised md-primary md-fab">
							<md-tooltip>
					          View Offence Details
					        </md-tooltip>
							<i class="fa fa-check" style="font-size: 20px;"></i> 
					</md-button>
				</a>
			</td>
		</tr>
	</tbody>
</table>
</div>