<style>
    a:hover{
        text-underline: none;
    }
</style>
<div ng-class="normalClass" ng-style="normalStyle" style="margin-bottom:40px;">
<div style="margin-top: 50px !important;">

        <div class="panel-heading">
            <h3>Offence Capture</h3>
        </div>

        <div class="mws-panel-header"  style="height: 48px !important;">
            <span style="color: #fff0ff !important;"><i class="icon-table"></i> Offence Events Registered<a ng-click="addNew()" class="pull-right" style="color:#fff0ff;font-size: 11px"> Add New </a></span>
        </div>

        <div class="mws-panel-body no-padding">
            <table datatable="ng" class="mws-datatable-fn mws-table">
                <thead>
                <tr>
                    <th># </th>
                    <th>Driver License</th>
                    <th>Driver Name</th>
                    <th>Place</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in data.offences" ng-click="">
                    <td>{{ $index+1 }}</td>
                    <td>{{event.Driver["Driver License Number"]}}</td>
                    <td>{{event.Driver.Person["First Name"]}} {{event.Driver.Person["Last Name"]}}</td>
                    <td>{{event["Offence Place"]}}</td>
                    <td>{{event["Offence Date"] | date:'dd MMM yyyy'}}</td>
                    <!-- <td ng-repeat="datas in events.dataValues | filter:{name:'Make'}">{{ datas.value }}</td>
                    <td ng-repeat="datas in events.dataValues | filter:{name:'Model'}">{{ datas.value }}</td>
                    <td ng-repeat="datas in events.dataValues | filter:{name:'Body Type'}">{{ datas.value }}</td>
                    <td ng-repeat="datas in events.dataValues | filter:{name:'Chassis Number'}">{{ datas.value }}</td>
                    <td ng-repeat="datas in events.dataValues | filter:{name:'Class'}">{{ datas.value }}</td>
                    <td ng-repeat="datas in events.dataValues | filter:{name:'Year of Manufacture'}">{{ datas.value }}</td>
                    <td ng-repeat="datas in events.dataValues | filter:{name:'Fuel'}">{{ datas.value }}</td> -->
                    <td>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                            	
                            	<li><a ng-click="showOffence(event)">View Details </a> </li>
                                <li><a  ng-click="enableEdit(event)">Edit</a> </li>
                         
                                <li><a ng-click="showRegistries(event.Offence)">View Offences </a> </li>
                                <li><a ng-click="showPayment(event)">View Payment </a> </li>
                                <li><a ng-click="showDriver(event.Driver)">View Driver</a> </li>
                                <li><a ng-click="showVehicle(event.Vehicle)">View Vehicle</a> </li>
                                <li><a >Delete</a> </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

		
        <div ng-if="panel.offences">
            <div class="mws-panel-header"  style="height: 48px !important;">
                <span  style="color: #fff0ff !important;"><i class="icon-table"></i> List of offences</span>
            </div>

            <div class="mws-panel-body no-padding">
                <table datatable="ng" class="mws-datatable-fn mws-table">
                    <thead>
                        <tr>
                            <th># </th>
                            <th>Section</th>
                            <th>Nature</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="event in data.offenceRegistries">
                            <td>{{ $index+1 }}</td>
                    		<td>{{event.Offence_Registry.Section}}</td>
                    		<td>{{event.Offence_Registry.Nature}}</td>
                    		<td>{{event.Offence_Registry.Amount}}</td>
                    		<td>
                                <!-- <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-default">Action</button>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a  ng-click="enableEdit(events)">Edit</a> </li>
                                        <li><a >Delete</a> </li>
                                        <li><a >Add Insurance</a> </li>
                                        <li><a >Add Inspection</a> </li>
                                        <li><a>Add Business Licence </a> </li>
                                        <li><a >Add Vehicle Licence </a> </li>
                                    </ul>
                                </div> -->
                            </td>
                        </tr>
                        </tbody>
                </table>
            </div>
        </div>
        <div ng-if="panel.driver">
            <div class="mws-panel-header"  style="height: 48px !important;">
                <span  style="color: #fff0ff !important;"><i class="icon-table"></i> Driver Involved in Offence</span>
            </div>

            <div class="mws-panel-body no-padding">
                <table datatable="ng" class="mws-datatable-fn mws-table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr ng-if="(key != 'id')" ng-repeat="(key, value) in data.driver">
			            	<td>
			            		<label>{{key}}</label>
			            	</td>
			                <td >
			                	<label>{{value}}</label>
			                </td>
		            	</tr>
                        </tbody>
                </table>
            </div>

        </div>
        <div ng-if="panel.vehicle">
            <div class="mws-panel-header"  style="height: 48px !important;">
                <span  style="color: #fff0ff !important;"><i class="icon-table"></i> Vehicle Involved in Offence </span>
            </div>

            <div class="mws-panel-body no-padding">
                <table datatable="ng" class="mws-datatable-fn mws-table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr ng-if="(key != 'id')" class="todelete"  ng-repeat="(key, value) in data.vehicle">
			            	<td>
			            		<label>{{key}}</label>
			            	</td>
			                <td >
			                	<label>{{value}}</label>
			                </td>
			            	</tr>
                        </tbody>
                </table>
            </div>

        </div>
        <div ng-if="panel.payment">
            <div class="mws-panel-header"  style="height: 48px !important;">
                <span  style="color: #fff0ff !important;"><i class="icon-table"></i> Offence Payment </span>
            </div>

            <div class="mws-panel-body no-padding">
                <table datatable="ng" class="mws-datatable-fn mws-table">
                    <thead>
                    </thead>
                    <tbody>
                    	<tr>
			            	<td>
			            		<label>Is am</label>
			            	</td>
			                <td >
			                	<label>{{data.payment['Offence Reciept Number']}}</label>
			                </td>
			            	</tr>
                        <tr ng-if="data.payment['Offence Paid']">
			            	<td>
			            		<label>Offence Reciept Number</label>
			            	</td>
			                <td >
			                	<label>{{data.payment['Offence Reciept Number']}}</label>
			                </td>
			            	</tr>
			            <tr>
			            	<td>
			            		<label>Amount Paid</label>
			            	</td>
			                <td >
			                	<label>{{data.payment['Offence Reciept Amount']}}</label>
			                </td>
			            	</tr>
                        </tbody>
                </table>
            </div>

        </div>
</div>
        <div class="mws-panel grid_2" style="background-color: white;margin-top:70px" ng-if="editing" >
			<div class="mws-panel-header"  style="height: 48px !important;">
                <span  style="color: #fff0ff !important;"><i class="icon-table"></i> Driver Involved in Offence<a ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times"></i>  </a></span>
            </div>
     
            <table  class="mws-datatable-fn mws-table">
            <tr  class="todelete"  ng-repeat="(key, value) in editingEvent">
            	<td ng-if="(key != 'id')">
            		<label>{{key}}</label><br />
                    <input ng-if="isString(key) && !hasDataSets(key)"  ng-model="editingEvent[key]" class="form-control" />
                    <input ng-if="isInteger(key)"  ng-model="editingEvent[key]" class="form-control" />
                    <select  ng-if="isBoolean(key)"  ng-model="editingEvent[key]" >
                    	<option value="true">Yes</option><option value="false">No</option>
                    </select>
                    <select  ng-if="hasDataSets(key)"  ng-options="item.name as item.name for item in getOptionSets(key)" ng-model="editingEvent[key]" />
                    <input ng-if="isDate(key)" ui-date="dateOptions" class="form-control" ng-model="editingEvent[key]"/>
                    <multi-select  ng-if="multiselectBools[key]" class="form-control" input-model="inputModal[key]" output-model="editingEvent[key]"item-label="name" button-label="button" tick-property="selected" />
                </td>
            </tr>
             <tr>
                 <td><button class="btn btn-sm btn-primary" ng-click="save(editingEvent)">Done</button> </td>
             </tr>
            </table>
        </div>