<style>
	.md-dialog-container{
		position: fixed;
		height: 100%;
	}
	.show-details{
		/* float: right; */
		cursor: pointer;
		padding: 20px;
		color: blue;
	}
	.show-details:hover{
		text-decoration: underline;
	}
	.expiry{
		border: 2px solid #F44336;
		background: #E57373;
		height: 40px;
		display: inline-block;
		width: 100%;
		text-align: center;
		/* vertical-align: middle; */
		font-size: 24px;
	}
</style>
	<div ng-controller="offenceFormController">
	<center>
		<h2>Offence Report</h2>
	</center>
		<div  ng-if="offenceAdded">
			The offence was saved successfully
		</div>
		<md-content> 
			<div style="padding:50px;padding-top:0">
			
			<form ng-if="!offenceAdded" name="offenceForm" class="form-inline">
			<div style="display:inline-block;width: 100%;">
				<h3>Driver Information</h3>
				<div class="col-sm-4"> 
					<label>Licence No.</label><br /> <br />
					{{offence.Driver['Driver License Number']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Full Name</label><br /> <br />
					{{offence.Driver.Person['First Name']}} 
				</div> 
				<div  class="col-sm-4">
					<label>Postal Address</label><br />
					{{offence.Driver.Person['Postal Address']}} 
				</div>
				<div class="expiry" ng-if="isExpired(offence.offence_date)">License of this driver has expired</div>
				<div class="show-details" ng-click="showDetails('driverDetails',$event)">Show Details</div>
				<div id="driverDetails" style="display:none">
					<div  class="col-sm-4">
						<label>Physical Address</label><br /> <br />
						{{offence.Driver.Person['Physical Address']}} 
					</div>
					<div  class="col-sm-4">
						<label>Gender</label><br />
						{{offence.Driver.Person.gender}} 
					</div>
					<div  class="col-sm-4">
						<label>Birth Date</label><br /> <br />
						{{offence.Driver.Person['Date of Birth']}} 
					</div>
					<div  class="col-sm-4">
						<label>Nationality</label><br /> 
						{{offence.Driver.Person.Nationality}} 
					</div>
					<div  class="col-sm-4">
						<label>Phone Number</label><br /> <br />
						{{offence.Driver.Person['Phone Number']}} 
					</div>
					<div  class="col-sm-4">
						<label>Occupation</label><br /> <br />
						{{offence.Driver.Person.Occupation}} 
					</div>
					<div class="col-sm-4">
						<label>Driving Class</label><br /> <br />
						{{offence.driving_class}}
					</div>
					<div  class="col-sm-4">
						<label>License Expiry Date</label><br /> <br />
						{{offence.expiry_date}} 
					</div>
				</div>
			</div>
			<div style="display:inline-block;width: 100%;">
				<h3>Vehicle Details</h3>
				<div class="col-sm-4" ng-keyup="getVehicle()"> 
					<label>Plate Number</label><br />
					{{offence.Vehicle['Vehicle Plate Number']}}
				</div>
				<div class="show-details" ng-click="showDetails('vehicleDetails',$event)">Show Details</div>
				<div id="vehicleDetails" style="display:none">
				<div style="display:inline-block;width: 100%;">
				<h4>Vehicle Apearance</h4>
				<div  class="col-sm-4"> 
					<label>Make</label><br />
					{{offence.Vehicle['Make']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Type</label><br />
					{{vehicle.type}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Color</label><br />
					{{offence.Vehicle['Color']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Vehicle Control Number</label><br />
					{{offence.Vehicle['Vehicle Control Number']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Body Type</label><br />
					{{offence.Vehicle['Body Type']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Model Number</label><br />
					{{offence.Vehicle['Model Number']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Class</label><br />
					{{offence.Vehicle['Vehicle Class']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Engine Number</label><br />
					{{offence.Vehicle['Engine Number']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Engine Capacity</label><br />
					{{offence.Vehicle['Engine Capacity']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Fuel</label><br />
					{{offence.Vehicle.Fuel}}
				</div>
				<div  class="col-sm-4"> 
					<label>Number of Axial</label><br />
					{{offence.Vehicle['Number of Axial']}}
				</div>
				<div  class="col-sm-4"> 
					<label>Axial Distance</label><br />
					{{offence.Vehicle['Axial Distance']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Seating Capacity</label><br />
					{{offence.Vehicle['Seating Capacity']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Year of Manufacture</label><br />
					{{offence.Vehicle['Year of Make']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Chasis Number</label><br />
					{{offence.Vehicle['Chasis Number']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Tare Weight</label><br />
					{{offence.Vehicle['Tare Weight']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Gross Wheight</label><br />
					{{offence.Vehicle['Gross Weight']}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Imported From</label><br />
					{{offence.Vehicle['Imported From']}} 
				</div>
				</div>
				<div style="display:inline-block;width: 100%;">
				<h4>Owner Details</h4>
				<div  class="col-sm-4"> 
					<label>Owner Id</label><br />
					{{vehicle.owner_id}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Name</label><br />
					{{vehicle.owner_name}} 
				</div>
				<div  class="col-sm-4"> 
					<label>Nationality</label><br />
					{{vehicle.owner_nationality}}
				</div>
				<div  class="col-sm-4"> 
					<label>Ownership Category</label><br />
					{{vehicle.ownership_category}}
				</div>
				<div  class="col-sm-4"> 
					<label>Physical Address</label><br />
					{{vehicle.owner_physical_address}}
				</div>
				<div  class="col-sm-4"> 
					<label>Postal Address</label><br />
					{{vehicle.owner_address}}
				</div>
				<div  class="col-sm-4"> 
					<label>Phone Number</label><br />
					{{vehicle.owner_phone_number}}
				</div>
				</div>
			</div>
			</div>
			<div style="display:inline-block;width: 100%;">
			<h3>Police Details</h3>
				<div class="col-sm-4" > 
					<label>No. Rank</label><br />
					{{offence.Police['Rank Number']}}
				</div>
				<div class="col-sm-4"> 
					<label>First Name</label><br />
					{{offence.Police.Person['First Name']}}
				</div>
				<div class="col-sm-4"> 
					<label>Last Name</label><br />
					{{offence.Police.Person['Last Name']}}
				</div>
				<div class="show-details" ng-click="showDetails('policeDetails',$event)">Show Details</div>
				<div id="policeDetails" style="display:none">
					<div class="col-sm-4"> 
						<label>Postal Address</label><br />
						{{offence.Police.Person['Postal Address']}}
					</div>
					<div class="col-sm-4"> 
						<label>Gender</label><br />
						{{offence.Police.Person.Gender}}
					</div>
					<div class="col-sm-4"> 
						<label>Birth Date</label><br />
						{{offence.Police.Person['Date of Birth']}}
					</div>
					<div class="col-sm-4"> 
						<label>Phone Number</label><br />
						{{offence.Police.Person['Phone Number']}}
					</div>
					<div class="col-sm-4"> 
						<label>Email</label><br />
						{{offence.Police.Person.Email}}
					</div>
					<div class="col-sm-4"> 
						<label>Station</label><br />
						{{station.name}}
					</div>
				</div>
			</div>
			<h3>Offence Details</h3>
			Charged Offences:
			<div style="height:200px;overflow-y: scroll;overflow-x: hidden;border:1px solid rgba(0,0,0,0.12);margin:10px 0 10px 0">
			<table class="col-sm-12">
				<thead><tr><th>Section</th><th>Nature</th><th>Amount</th></tr></thead>
				<tbody>
				<tr ng-repeat="off in offenceEvents">
					<td>{{off.Section}}</td>
					<td>{{off.Nature}}</td>
					<td>{{off.Amount}}</td>
				</tr>
				</tbody>
			</table>
			
			</div>
			<div style="display:inline-block;width: 100%;">
				<div class="col-sm-6"> 
					<label>Date of offence</label><br />
					{{offence['Offence Date'] | date:'dd MMM yyyy'}} 
				</div>
				<div class="col-sm-6"> 
					<label>Location of Offence</label><br />
					{{offence['Offence Place']}} 
				</div><br /><br /><br />
				<div  class="col-sm-12"> 
					<label>Brief facts about the offence</label><br />
					{{offence['Offence Facts']}}
				</div>
			</div>
			<div class="col-sm-12">
					<label> Offence admission:</label>
				{{offence['Offence Admission Status']}}
			</div>
			<div class="col-sm-12">
					<label>Amount payable</label><br />
					{{amountPayable}}
			</div>
		</form>
		</div>
		</md-content>
	</div>

     