	<div ng-controller="offenceFormController">
	<center>
		<img src="/img/logo.jpg" /><br />
		<h3>THE UNITED REPUBLIC OF TANZANIA</h3>
		<h4>THE ROAD TRAFFIC ACT (CAP 168)</h4>
		<h2>NOTIFICATION OF TRAFFIC OFFENCES</h2>
		<h5>Gvt. Notice No. 257 of 26th August 2011</h5>
	</center>
		<md-content> 
			<div style="padding:50px;padding-top:0">
			<form  name="offenceForm" class="form-inline">
			<md-input-container> 
				<label>Licence No.</label> 
				<input name="name" ng-model="offence.driver_license_number" required> 
			</md-input-container>
			<md-input-container> 
				<label>To</label> 
				<input name="name" ng-model="offence.to" required> 
			</md-input-container> 
			<md-input-container>
				<label>Address</label> 
				<input name="address" ng-model="offence.address" class="form-control" required> 
			</md-input-container>
		<ol>
			<li>You are charged with offence(s) number(s) <div ng-click="showOffences($event)" class="offences"><span ng-repeat="off in offenceEvents">{{off.section}} , </span> </div>
			<!-- <md-input-container class="inline-container" > 
				<input name="offences" ng-model="data.selectedOffence"  ng-click="showOffences($event)"> 
			</md-input-container> --> that on 
			<md-input-container class="inline-container"> 
				<input name="date" ng-model="offence.offence_date" type="date" required> 
			</md-input-container> At 
			<md-input-container class="inline-container"> 
				<label>Place</label>
				<input name="place" ng-model="offence.place"  required> 
			</md-input-container> you
				(brief facts)
				<ol type="a" style="list-style-type: a">
					<li><md-input-container> <input
							ng-model="offence.facta" class="form-control"> </md-input-container>
					<li><md-input-container> <input
							ng-model="offence.factb" class="form-control"> </md-input-container>
					<li><md-input-container> <input
							ng-model="offence.factc" class="form-control"> </md-input-container>
					<li><md-input-container> <input
							ng-model="offence.factd" class="form-control"> </md-input-container>
				</ol>
			</li>
			<li>If you WISH to admit commission of the offence(s) you should
				complete <b>Part "B"</b> below and send this notification, together
				with the statutory penalty for each offence to which you admit, to
				the above named officer so as to reach him within ten days from the
				date of service of this notification.
			</li>
			<li>If you <b>DO NOT WISH</b> to admit to have commited the
				offence(s) you are required to complete <b>Part "A"</b> below and
				send this notification by the hand to: The Offecer Commanding
				District or Officer Commanding Station of 
				<md-input-container>
					<input ng-model="offence.station" name="station" class="form-control"> 
				</md-input-container> So as to
				reach him within the the time specified when entering into
				recognizance.
			</li>
			<li>Penalty for each offence committed against Part One is
				thirty thousand shillings and for offences committed against Part
				Two twenty thousand shillings.</li>
			<li><b>WARNING:</b> This notification together with the panalty
				should be sent to the Officer Commanding District or Officer
				Commanding Station <b>COMPLETED IN EITHER</b> Part "A" or Part "B"
				in respect of each of the charges set out on Paragraph 1 within
				seven days from the date of service.
				<table border="1">
					<thead>
						<tr>
							<td align="center" style="text-align: center" width="50%">FOR
								POLICE USE</td>
							<td align="center" style="text-align: center" width="50%">FOR
								USE BY OFFICER COMMANDING DISTRICT/STATION</td>
						</tr>
					</thead>
					<thead>
						<tr>
							<td height="200px"></td>
							<td></td>
						</tr>
					</thead>
				</table></li>
		</ol>
		
			<md-toolbar>
			<h2 class="md-toolbar-tools">
				<span>PART "A" - NOOTIFICATION F INTENTION TO ANSWER CHARGES</span>
			</h2>
			</md-toolbar>
			<br /><br />
			<div>
				I
				<md-input-container class="inline-container"> 
					<label>Full Name</label>
					<input name="aName" ng-model="offence.to"> 
				</md-input-container>
				of
				<md-input-container class="inline-container"> 
				<label>(residential or business address)</label>
				<input
					ng-model="offence.address"> </md-input-container>
				Intend to answer in court the charge(s) No.(s)
				<md-input-container class="inline-container"> 
					<input
					ng-model="offence.a.charges"> </md-input-container>
				set out, in paragraph 1 of this notification
				<md-input-container class="inline-container" style="width:500px"> <input
					ng-model="offence.a.notification"> </md-input-container><br /><br />
				Signature:
				<md-input-container class="inline-container"> <input
					ng-model="user.title" > </md-input-container><br />
				Date:
				<md-input-container class="inline-container"> 
				<input type="date"
					ng-model="offence.offence_date"> 
					</md-input-container>
			</div>
			<br /><br />
			<md-toolbar>
			<h2 class="md-toolbar-tools">
				<span>PART "B" - NOOTIFICATION F INTENTION TO ANSWER CHARGES</span>
			</h2>
			</md-toolbar>
			<br /><br />
			<div>
				I
				<md-input-container class="inline-container"> 
					<label>Full Name</label>
					<input name="bName" ng-model="offence.to"> 
				</md-input-container>
				of
				<md-input-container class="inline-container"> 
				<label>(residential or business address)</label>
				<input
					ng-model="offence.address"> </md-input-container>
				plead guilty to the charge(s) No.(s)
				<md-input-container  class="inline-container"> <input
					ng-model="offence.b.charges"> </md-input-container>
				set out in paragraph 1 of this notification and enclose a fine of
				Shs.
				<md-input-container class="inline-container"> <input
					ng-model="offence.amount"> </md-input-container>
				being the statutory penalty(ies) for the offence(s) to which I plead
				guilty. <br /><br />
				Signature:
				<md-input-container class="inline-container"> <input
					ng-model="user.title"> </md-input-container><br />
				Date:
				<md-input-container class="inline-container"> <input type="date"
					ng-model="offence.date"> </md-input-container>
					<br /><br />
				<table border="1">
					<thead style="background-color: gray;">
						<tr><td style="text-align:center">VEHICLE DETAILS</td><td style="text-align:center">ISSUED BY</td></tr>
					</thead>
					<tbody>
						<tr>
							<td width="50%">
								<md-input-container class="inline-container" ng-keyup="getVehicle()"> 
								<label>Plate Number.</label>
								<input name="vehicle" ng-model="offence.vehicle_plate_number" required>
								 
								
								</md-input-container>
							</td>
							<td>
								<md-input-container class="inline-container" ng-keyup="getPolice()"> 
								<label>No. Rank</label>
								<input ng-model="offence.rank_no"> 
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<md-input-container class="inline-container"> 
								<label>Make.</label>
								<input ng-model="vehicle.make" readonly> 
								</md-input-container>
							</td>
							<td>
								<md-input-container class="inline-container"> 
								<label>Station</label>
								<input ng-model="station.name" disabled> 
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<md-input-container class="inline-container"> 
								<label>Type.</label>
								<input ng-model="vehicle.type" readonly> 
								</md-input-container>
							</td>
							<td>
								<md-input-container class="inline-container"> 
								<label>Date.</label>
								<input type="date" ng-model="offence.offence_date"> 
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td colspan="2">
							Signature of person upon whom notification is served
							<md-input-container class="inline-container"> 
								<input ng-model="user.title"> 
								</md-input-container>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<md-button class="md-raised md-primary" ng-click="submitOffence()"  
				ng-disabled="offenceForm.name.$invalid || offenceForm.address.$invalid || 
				offenceForm.place.$invalid || offenceForm.station.$invalid
				|| offenceForm.date.$invalid || (offence.offences.length == 0)">
				Submit
			</md-button>
		</form>
		</div>
		</md-content>
	</div>