<!DOCTYPE html>
<html ng-app="accidentApp"  ng-controller="AppCtrl">
<head>
    <!-- Stylesheets related to the dhis2  menu -->
    <link type="text/css" rel="stylesheet" href="http://localhost:8080/demo/dhis-web-commons/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="http://localhost:8080/demo/dhis-web-commons/css/menu.css">
    <!-- Stylesheets related to the dhis2 menu -->

    <!-- Angulars Material CSS now available via Google CDN; version 0.6 used here -->
    <link rel="stylesheet" href="resources/angular-material/angular-material.css">
    <link href="resources/DataTables/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="resources/jquery-ui/themes/cupertino/jquery-ui.css" rel="stylesheet">
    <link href="resources/css/angular-multi-select.css" rel="stylesheet">
    <!-- Angular Material Dependencies -->
    <script src="resources/js/jquery/jquery_admin.js"></script>
    <script src="resources/angular/angular.min.js"></script>
    <script src="resources/jquery-ui/jquery-ui.js"></script>
    <script src="resources/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="resources/angular-ui-date/src/date.js"></script>
    <script src="resources/js/angular-multi-select.js"></script>
    <script src="resources/angular-datatables/dist/angular-datatables.js"></script>
    <script src="resources/angular-animate/angular-animate.min.js"></script>
    <script src="resources/angular-aria/angular-aria.min.js"></script>
    <script src="resources/angular/angular-messages.min.js"></script>
    <script src="resources/highcharts-ng/src/highcharts-custom.js"></script>
    <script src="resources/highcharts-ng/src/highcharts-ng.js"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 0.6 used here -->
    <script src="resources/bootstrap/bootstrap.js"></script>
    <script src="resources/angular-material/angular-material.min.js"></script>
    <script src="resources/angular-material/angular-text.min.js"></script>
    <script src="resources/angular/angular-route.min.js"></script>
    <script src="resources/js/angular-file-upload.min.js"></script>
    <script src="resources/js/dhis2-library.js"></script>


    <!-- Angular Material Dependencies -->

    <link rel="stylesheet" href="resources/js/jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="resources/angular-material/angular-text.min.css">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="resources/bootstrap/bootstrap-theme.css"/>
    <link rel="stylesheet" href="resources/css/material-design.css"/>
    <link rel="stylesheet" type="text/css" href="resources/css/font-awesome/css/font-awesome.min.css" />


    <style>
        .container {
            position: fixed;
            padding:0px;
            top: 0;
            left: 0;
            z-index: 0;
            background: url('img/background.jpg');
            height: 100%;
            width: 100%;
        }
        .container > md-content > md-toobar{
            background-color: #8BC34A !important;
        }
        .main {
            position: absolute;
            width: 75%;
            background-color: white;
            min-height: 700px;
            left: 12.5%;
            top: 20px;
            overflow: hidden;
        }

        md-card, .content {
            padding: 0;
        }

        md-toolbar {
            padding:px;
        }
        .menu-button{
            width:56px;
            height:56px;
            border-radius:50% !important;
        }
        .sub-menu-button{
            width:100%;
            height: 40px;
            text-align: left;
            padding-left: 20px;
            text-transform: none;
        }
        md-icon{
            margin-top:0;
        }
    </style>

    <script>

        var dhisConfigs = {
            baseUrl:"../../",
            refferencePrefix:"Program_",
            onLoad : function(){
                //$scope.onInitialize();
            }
        };

    </script>

    <script ng-repeat="app in app.routes" ng-src="{{getControllerSrc(app.controller)}}"></script>

    <script>
        var routeProvider = null;

        var mainModule = angular.module('accidentApp', ['ngMaterial', "ngRoute","ui.date","highcharts-ng","multi-select"])
                .config(function ($routeProvider) {

                    routeProvider = $routeProvider;
                });

        mainModule.controller('AppCtrl', function($scope, $http, $mdSidenav, $log,$route) {
            //When menu button is clicked show the left menu
            $scope.toggleLeft = function() {
                $mdSidenav('left').toggle();
            };
            $scope.app = {};


            $scope.closeNav = function() {
                $mdSidenav('left').close();
            };

        });
    </script>

    <script src="controllers/routes.js"></script>
    <script src="controllers/AccidentController.js"></script>
    <script src="controllers/AccidentListController.js"></script>
    <script src="controllers/AccidentChartsController.js"></script>
    <script src="controllers/AccidentReportController.js"></script>
    <script src="controllers/AccidentStatisticsCtrl.js"></script>
    <script src="resources/js/flowplayer.min.js" type="text/javascript"></script>


</head>

<body>

<div class="container">
    <md-content> <md-toolbar class="md-tall md-warn md-hue-3" style="background-color:#00F5FF !important"> </md-toolbar>
    </md-content>
</div>
<md-card class="main">
    <md-card-content class="content">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                        md-component-id="left">
                <md-toolbar class="md-theme-light" style="background-color:#B0E0E6  !important">
                    <h1 class="md-toolbar-tools">Menu</h1>
                </md-toolbar>
                <md-list>
                    <!-- Menu buttons -->
                    <md-item>
                        <md-item-content>
                            <a href="#/home" style="width:100%;font-size:14px"><md-button class="sub-menu-button" ng-click="closeNav()">Home</md-button></a>
                        </md-item-content>
                    </md-item>


                    <md-item>
                        <md-item-content>
                            <a href="#/report" style="width:100%;font-size:14px"><md-button class="sub-menu-button" ng-click="closeNav()">Report Accident</md-button></a>
                        </md-item-content>
                    </md-item>


                    <md-item>
                        <md-item-content>
                            <a href="#/reported" style="width:100%;font-size:14px"><md-button class="sub-menu-button "ng-click="closeNav()" >View Accidents Reported</md-button></a>
                        </md-item-content>
                    </md-item>

                    <md-item>
                        <md-item-content>
                            <a href="#/statistics" style="width:100%;font-size:14px"><md-button class="sub-menu-button "ng-click="closeNav()" >View Accident Statistics</md-button></a>
                        </md-item-content>
                    </md-item>

                </md-list>
            </md-sidenav>
            <md-toolbar style="background-color:#B0E0E6 !important">
                <div layout="row" >
                    <div flex>
                        <md-button class="menu-button" aria-label="Profile" ng-click="toggleLeft()"> <md-icon
                                icon="img/ic_menu_black_48dp.png"
                                style="width: 24px; height: 24px;"></md-icon> </md-button>
                    </div>
                    <div flex>
                        <h2 class="md-toolbar-tools">
                            <span style="color:black">ACCIDENT APP</span>
                        </h2>
                    </div>
                </div>
            </md-toolbar>

        </section>

        <div class="view">
            <div ng-view="#/home" />
        </div>
        <div>

        </div>
    </md-card-content> </md-card>
</body>


</html>
