<style>
    md-buttom{
        font-size: 0.9em;
    }
</style>
<div class="container-fluid">
<md-tabs md-selected="selectedIndex" flex>
<md-tab label="Motor Vehicle" class="col-md-6">
    <div class="demo-tab tab1" layout="column" layout-align="space-around center">
<div class="container-fluid">
        <div class="col-sm-2">
            <div class="form-group">
                <select ng-model="data.category" ng-change="prepareDropdown(data.category)" id="category" class="form-control" required="" style="background: transparent;border-top-color: wheat">
                    <option value="Ownership">Ownership</option>
                    <option value="category" selected>Car Category</option>
                    <option value="model">Model</option>
                    <option value="make">Make</option>
                    <option value="fuel">Fuel Used</option>
                    <option value="color">Color</option>
                    <option value="years">Year of Make</option>
                    <option value="importation">Importation Country</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <div
                        multi-select
                        input-model="data.usedCat"
                        button-label="name"
                        item-label="name"
                        tick-property="ticked"
                        output-model="report.charCat"
                        max-labels="0"
                        max-height ="150px"
                        on-item-click = "changeCats()"
                        helper-elements="filter"
                        >
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <md-button ng-click="changeChart('table')" class="md-hue-3 md-raised"><img src="/apps/license/img/table.png" style="height: 20px;width: 20px"> Table</md-button>
            <md-button ng-click="changeChart('column')" class="md-hue-3 md-raised"><img src="/apps/license/img/bar.png" style="height: 20px;width: 20px"> Bar </md-button>
            <md-button ng-click="changeChart('spline')" class="md-hue-3 md-raised"><img src="/apps/license/img/line.png" style="height: 20px;width: 20px"> Line </md-button>
            <md-button ng-click="changeChart('bar')" class="md-hue-3 md-raised"><img src="/apps/license/img/column.png" style="height: 20px;width: 20px"> Column </md-button>
            <!--<md-button ng-click="changeChart('combined')" class="md-hue-3 md-raised"><img src="combined.jpg" style="height: 20px;width: 20px"> Combined Chart</md-button>-->
            <md-button ng-click="changeChart('spider')" class="md-hue-3 md-raised"><img src="/apps/license/img/spider.jpg" style="height: 20px;width: 20px"> Spider</md-button>
            <md-button ng-click="changeChart('area')" class="md-hue-3 md-raised"><img src="/apps/license/img/table.png" style="height: 20px;width: 20px"> Area </md-button>
            <md-button ng-click="changeChart('pie')" class="md-hue-3 md-raised"><img src="/apps/license/img/pie.png" style="height: 20px;width: 20px"> Pie </md-button>
            <md-button ng-click="" class="md-hue-3 md-raised"><img src="/apps/license/img/cvs.jpg" style="height: 20px;width: 20px"> </md-button>
        </div>

        <highchart id="chart1" config="chartConfig" class="col-sm-12" ng-if="!displayTable"></highchart>
        <table class="table table-condensed table-bordered table-responsive" ng-if="displayTable">
            <tr>
                <th ng-repeat="cats in table.headers">{{ cats.name }}</th>
            </tr>
            <tr>
                <td ng-repeat="nsf in table.colums">{{ nsf.val }}</td>
            </tr>
        </table>
</div>
    </div>
</md-tab>
<md-tab label="Business License"  style="width: 300px">
<div class="demo-tab tab2" layout="column" layout-align="space-around center">
    <div class="container-fluid">
        <div class="col-sm-2">
            <div class="form-group">
                <select ng-model="data.busnesscategory" ng-change="prepareBusinessDropdown(data.busnesscategory)" id="category" class="form-control" required="" style="background: transparent;border-top-color: wheat">
                    <option value="Nature of application">Nature of application</option>
                    <option value="Period applied for">Period applied for</option>
                    <option value="Body type">Body type</option>
                    <option value="Classes of services">Classes of services</option>
                    <option value="Nature/Type of service">Nature/Type of service</option>
                </select>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group">
                <div
                        multi-select
                        input-model="data.businesCat"
                        button-label="name"
                        item-label="name"
                        tick-property="ticked"
                        output-model="report.outBusinesCat"
                        max-labels="0"
                        max-height ="150px"
                        on-item-click = "changeBusinessCats()"
                        helper-elements="filter"
                        >
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <md-button ng-click="changeChart('table')" class="md-hue-3 md-raised"><img src="/apps/license/img/table.png" style="height: 20px;width: 20px"> Table</md-button>
            <md-button ng-click="changeChart('column')" class="md-hue-3 md-raised"><img src="/apps/license/img/bar.png" style="height: 20px;width: 20px"> Bar </md-button>
            <md-button ng-click="changeChart('spline')" class="md-hue-3 md-raised"><img src="/apps/license/img/line.png" style="height: 20px;width: 20px"> Line </md-button>
            <md-button ng-click="changeChart('bar')" class="md-hue-3 md-raised"><img src="/apps/license/img/column.png" style="height: 20px;width: 20px"> Column </md-button>
            <!--<md-button ng-click="changeChart('combined')" class="md-hue-3 md-raised"><img src="combined.jpg" style="height: 20px;width: 20px"> Combined Chart</md-button>-->
            <md-button ng-click="changeChart('spider')" class="md-hue-3 md-raised"><img src="/apps/license/img/spider.jpg" style="height: 20px;width: 20px"> Spider</md-button>
            <md-button ng-click="changeChart('area')" class="md-hue-3 md-raised"><img src="/apps/license/img/table.png" style="height: 20px;width: 20px"> Area </md-button>
            <md-button ng-click="changeChart('pie')" class="md-hue-3 md-raised"><img src="/apps/license/img/pie.png" style="height: 20px;width: 20px"> Pie </md-button>
            <md-button ng-click="" class="md-hue-3 md-raised"><img src="/apps/license/img/cvs.jpg" style="height: 20px;width: 20px"> </md-button>
        </div>

        <highchart id="chart1" config="chartConfig" class="col-sm-12" ng-if="!displayTable"></highchart>
        <table class="table table-condensed table-bordered table-responsive" ng-if="displayTable">
            <tr>
                <th ng-repeat="cats in table.headers">{{ cats.name }}</th>
            </tr>
            <tr>
                <td ng-repeat="nsf in table.colums">{{ nsf.val }}</td>
            </tr>
        </table>
    </div>
</div>
</md-tab>
    <md-tab label="Vehicle Inspections"  style="width: 300px">
<div class="demo-tab tab3" layout="column" layout-align="space-around center">
    Motor Vehicle Inspection Statistics
</div>
</md-tab>
</md-tabs>
</div>
        <div class="col-sm-12">
            <h3>Motor Vehicle Management App</h3>
            <md-content>
                <md-list>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img src="/apps/license/img/car.jpg" style="height: 50px;width: 50px;border-radius: 50%">
                            </div>
                            <div class="md-tile-content">
                                <h3>Listing of Motor Vehicle</h3>
                                <h4>
                                   This part will help you to see the list of all registered motor vehicle and their details, to remove selected vehicle and see the
                                    offences and accidents that the selected motor vehicle is involved.
                                </h4>
                            </div>
                        </md-item-content>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img src="/apps/license/img/samples.jpg" style="height: 50px;width: 50px;border-radius: 50%">
                            </div>
                            <div class="md-tile-content">
                                <h3>Motor Vehicle Registration</h3>
                                <h4>
                                   This part will help you to make a new registration of  motor vehicle.
                                </h4>
                            </div>
                        </md-item-content>
                    </md-item>
                    <md-item>
                        <md-item-content>
                            <div class="md-tile-left">
                                <img src="/apps/license/img/cvs.jpg" style="height: 50px;width: 50px;border-radius: 50%">
                            </div>
                            <div class="md-tile-content">
                                <h3>Motor Vehicle Importation</h3>
                                <h4>
                                   This part will help you to import motor vehicle details from a formatted excel file.
                                </h4>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>