<style>
.dataTables_paginate,.dataTables_info{
    	display:none !important;
    }
</style>
<div class="thumbnail" style="font-size:19px;position: absolute;bottom: 10px;right: 10px;z-index: 1000;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" ng-if="feedBack">{{ messagess }}</div>
<div class="thumbnail" style="font-size:19px;position: absolute;bottom: 10px;right: 10px;z-index: 1000;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" ng-if="progresMessage">{{ progresMessagess }}</div>

<div class="row" style="margin-top: 90px">

    <div class="col-sm-12">
        <div ng-class="normalClass">
            <div class="panel panel-default">
                <div class="panel-heading" style="padding-bottom: 10px"><b>Motor Vehicles</b>
                    <button class="btn btn-primary btn-xs pull-right" data-ng-click="enableAdding()">Add Vehicle</button>
                </div>

                <table datatable="ng" class="table table-condensed table-striped table-responsive">
                    <thead>
                    <tr>
                        <th># </th>
                        <th>Registration Number</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Body Type</th>
                        <th>Chassis Number</th>
                        <th>Class</th>
                        <th>Year of Manufacture</th>
                        <th>Fuel</th>
                        <!-- <th>Accidents</th>
                        <th>Offences</th> -->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="events in data.programs['Vehicle'].dataValues.events" style="background-color: {{ data.color[events.event] }}">
                        <td>{{ ($index+ 1) + ((pager.page - 1) * pager.pageSize)}}</td>
                        <td>{{ events.dataValues['Vehicle Plate Number'].value }}</td>
                        <td>{{ events.dataValues['Make'].value }}</td>
                        <td>{{ events.dataValues['Model'].value }}</td>
                        <td>{{ events.dataValues['Body Type'].value }}</td>
                        <td>{{ events.dataValues['Chasis Number'].value }}</td>
                        <td>{{ events.dataValues['Vehicle Class'].value }}</td>
                        <td>{{ events.dataValues['Year of Make'].value }}</td>
                        <td>{{ events.dataValues['Fuel'].value }}</td>
                        <!-- <td><a ng-click="ViewAccident(events)">{{ getRelatedObjectsNumber(events.event,'Accident Vehicle') }}</a></td>
                        <td><a ng-click="ViewOffences(events)">{{ getRelatedObjectsNumber(events.event,'Offence Event') }}</a></td> -->
                        <td>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-default">Action</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="enableViewing(events)">info</a> </li>
                                    <li><a ng-click="enableEdit(events)">Edit</a> </li>
                                    <li><a ng-click="showDelete(events,data.programs['Vehicle'].dataValues.events)"> Delete</a> </li>
                                    <li><a ng-click="enableAddingInsurance(events)">Add Insurance</a> </li>
                                    <li><a ng-click="enableaddingInspection(events)">Add Inspection</a> </li>
                                    <li><a ng-click="enableAddingBusLicence(events)">Add Business Licence </a> </li>
                                    <li><a ng-click="enableAddingLicence(events)">Add Vehicle Licence </a> </li>
                                    <li><a ng-click="enableViewInsurance(events)">Insurance History </a> </li>
                                    <li><a ng-click="enableViewBusiness(events)">Business Licences </a> </li>
                                    <li><a ng-click="ViewAccident(events)">Accidents</a> </li>
                                    <li><a ng-click="ViewOffences(events)">Offences</a> </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination class="pull-right" total-items="pager.total" page="pager.page"
          max-size="5" boundary-links="true"
          on-select-page="pageChanged(page)" items-per-page="pager.pageSize" class="pagination-sm">
        </pagination>
            </div>
        </div>

        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="editing" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Motor Vehicles</b>
                    <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>
                    <button ng-click="ViewInfo(editingEvent)" class="pull-right" title="view vehicle information"><i class="fa fa-info-circle"></i></button>         </div>
                <div class="panel-body" style="padding-left: 30px">
                    <table >
                        <tr  class="todelete"  ng-repeat="datas in editingEvent.dataValues  | orderBy:'sortOrder'">
                            <td style="margin-right: 20px">
                                <label>{{ datas.name }}</label><br>
                                <input class="form-control" ng-if="!datas.optionSet"  ng-model="datas.value" ng-blur="updateData(datas.id,datas.value,editingEvent,$event,datas,data.selectedprogram.dataValues.events)" ng-style="datas.color">
                                <select  class="form-control" ng-if="datas.optionSet" ng-model="datas.value" ng-options="item.name as item.name for item in datas.optionSet.options" ng-change="updateData(datas.id,datas.value,events,$event,datas,data.events.programs[31].dataValues.events)" ng-style="datas.color" ></select>
                            </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td><button class="btn btn-sm btn-primary" ng-click="updateVehicle(editingEvent)">Done</button> </td>
                        </tr>
                    </table>
                </div>

                </div>
            </div>

    <!--adding new car-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="adding" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Motor Vehicles Registration</b>
                    <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>
                  </div>
                <div class="panel-body" style="padding-left: 30px">
                    <table >
                        <tr ng-repeat="list in  data.programs['Vehicle'].programStages[0].programStageDataElements  | orderBy:'sortOrder'">
                        <td >
                            <label>{{ list.dataElement.name }}</label>
                            <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  ng-if="!list.dataElement.optionSet && list.dataElement.type!='date' && list.dataElement.type =='string'" style="width: 100%;background: #ffffff" ng-model="data.newCarValue[list.dataElement.id]"  >
                            <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  ng-if="!list.dataElement.optionSet && list.dataElement.type!='date' && list.dataElement.type =='int'" ng-blur="validateNewCarInt(list.dataElement)" style="width: 100%;background: #ffffff" ng-model="data.newCarValue[list.dataElement.id]"  >
                            <input  class="form-control" ng-focus="focusMe(list.dataElement.name)"  ng-if="list.dataElement.type=='date'" ui-date="dateOptions1"  ng-model="data.newCarValue[list.dataElement.id]" >
                            <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newCarValue[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                          </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <button class="btn btn-sm btn-primary pull-right" ng-click="AddVehicle(data.newCarValue)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!--adding new Insurance-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="addingInsurance" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Vehicle Insurance</b> <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>                 <button href="#" ng-click="ViewInfo(vehicle)" class="pull-right" title="view vehicle information"><i class="fa fa-info-circle"></i></button> &nbsp;&nbsp;                 </div>
                <div class="panel-body" style="padding-left: 30px">
                    <p>Registration number : {{ vehicle.dataValues['Vehicle Plate Number'].value }} </p>
                    <table >
                        <tr ng-repeat="list in  data.programs['Vehicle Insurance History'].programStages[0].programStageDataElements | orderBy:'sortOrder'">
                            <td ng-if="list.dataElement.name != 'Program_Vehicle'">
                                <label>{{ list.dataElement.name }}</label>
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet  && list.dataElement.type != 'date'" ng-model="data.newInsurance[list.dataElement.id]"  >
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)" ui-date="dateOptions1" style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet && list.dataElement.type == 'date'" ng-model="data.newInsurance[list.dataElement.id]"  >
                                <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newInsurance[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                            </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <button class="btn btn-sm btn-primary pull-right" ng-click="AddInsurance(data.newInsurance,vehicle.event)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <!--adding new Business Licence-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="addingBusLicence" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Vehicle Business Licence</b> <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>                 <button href="#" ng-click="ViewInfo(vehicle)" class="pull-right" title="view vehicle information"><i class="fa fa-info-circle"></i></button> &nbsp;&nbsp;                 </div>
                <div class="panel-body" style="padding-left: 30px">
                    <p>Registration number : {{ vehicle.dataValues['Vehicle Plate Number'].value }} </p>
                    <table >
                        <tr ng-repeat="list in  data.programs['Bussiness License History'].programStages[0].programStageDataElements | orderBy:'sortOrder'">
                            <td ng-if="list.dataElement.name != 'Program_Vehicle'">
                                <label>{{ list.dataElement.name }}</label>
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet  && list.dataElement.type != 'date'" ng-model="data.newBusLicence[list.dataElement.id]"  >
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)" ui-date="dateOptions1" style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet && list.dataElement.type == 'date'" ng-model="data.newBusLicence[list.dataElement.id]"  >
                                <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newBusLicence[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                            </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <button class="btn btn-sm btn-primary pull-right" ng-click="AddBussinessLicence(data.newBusLicence,vehicle.event)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <!--Adding New Car Licence-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="addingLicence" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Vehicle Licence</b>
                    <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>
                    <button href="#" ng-click="ViewInfo(vehicle)" class="pull-right" title="view vehicle information"><i class="fa fa-info-circle"></i></button> &nbsp;&nbsp;                 </div>
                <div class="panel-body" style="padding-left: 30px">
                    <p>Registration number : {{ vehicle.dataValues['Vehicle Plate Number'].value }} </p>
                    <table >
                        <tr ng-repeat="list in  data.programs['Vehicle License History'].programStages[0].programStageDataElements | orderBy:'sortOrder'">
                            <td ng-if="list.dataElement.name != 'Program_Vehicle'">
                                <label>{{ list.dataElement.name }}</label>
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet  && list.dataElement.type != 'date'" ng-model="data.newBusLicence[list.dataElement.id]"  >
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)" ui-date="dateOptions1" style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet && list.dataElement.type == 'date'" ng-model="data.newBusLicence[list.dataElement.id]"  >
                                <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newBusLicence[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                            </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <button class="btn btn-sm btn-primary pull-right" ng-click="AddBussinessLicence(data.newBusLicence,vehicle.event)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <!--Adding New Car Inspection-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="addingInspection" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Vehicle Licence</b> <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>                 <button href="#" ng-click="ViewInfo(vehicle)" class="pull-right" title="view vehicle information"><i class="fa fa-info-circle"></i></button> &nbsp;&nbsp;                 </div>
                <div class="panel-body" style="padding-left: 30px">
                    <p>Registration number : {{ vehicle.dataValues['Vehicle Plate Number'].value }} </p>
                    <table >
                        <tr ng-repeat="list in  data.programs['Vehicle Inspection'].programStages[0].programStageDataElements | orderBy:'sortOrder'">
                            <td ng-if="list.dataElement.name != 'Program_Vehicle'">
                                <label>{{ list.dataElement.name }}</label>
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet  && list.dataElement.type != 'date'" ng-model="data.newInspection[list.dataElement.id]"  >
                                <input class="form-control"  ng-focus="focusMe(list.dataElement.name)" ui-date="dateOptions1" style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet && list.dataElement.type == 'date'" ng-model="data.newInspection[list.dataElement.id]"  >
                                <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newInspection[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                            </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <button class="btn btn-sm btn-primary pull-right" ng-click="AddnewInspection(data.newInspection,vehicle.event)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

<!--VIewing Car Information-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="vieInformation" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Vehicle Information</b>
                    <button ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times text-danger"></i>  </button>
                <button href="#" ng-click="ViewInfo(vehicle)" class="pull-right" title="view vehicle information"><i class="fa fa-info-circle"></i></button> &nbsp;&nbsp;
                </div>
                <div class="panel-body" style="padding-left: 30px">
                    <table class="table table-border table-striped">
                        <tr data-ng-repeat="data in vehicle.dataValues | orderBy:'sortOrder'">
                            <th>{{ data.name }}</th>
                            <td>{{ data.value }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>
    </div>

