<style>
    .modal-dialog{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%
    }
</style>
<div class="modal-header page">
    <h3>Vehicle Ownership History for {{ VehicleEvent.dataValues['Make'].value }} {{ VehicleEvent.dataValues['Model'].value }} {{ VehicleEvent.dataValues['Vehicle Plate Number/Registration Number'].value }}</h3>
</div>

<div class="modal-body page">
    <table datatable="ng" class="table table-border table-striped">
        <thead>
        <tr>
            <th>Vehicle Owner Name</th>
            <th>Phone Number</th>
            <th>Physical Address</th>
            <th>Postal Address</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat=" vehicleOwner in vehicleOwners">
                <td>{{ vehicleOwner['Vehicle Owner Name'] |uppercase }}</td>
                <td>{{ vehicleOwner['Phone Number'] }}</td>
                <td>{{ vehicleOwner['Physical Address'] }}</td>
                <td>{{ vehicleOwner['Postal Address'] }}</td>
                <td>{{ vehicleOwner['Ownership Start Date'] }}</td>
                <td>{{ vehicleOwner['Ownership End Date'] }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-footer page">
    <button class="btn btn-primary" data-ng-click="close()">{{'close'| translate}}</button>
</div>