<div class="row" style="padding: 0px;margin-top:0px">
    <div  ng-controller="AccidentAppCtrl" class="tabsdemoDynamicTabs">

        <md-tabs md-selected="selectedIndex" style="margin-top: 0px">

            <md-tab style="padding: 0px;margin: 0px" ng-repeat="tab in tabs3" ng-disabled="tab.disabled" label="{{tab.title}}">

                <div class="demo-tab tab{{$index%4}}" layout="column" >

                    <div style="margin: 0px;padding: 0px;border: 0px">
                        <ng-include src="'views/partials/witness.html'"></ng-include></div>

                </div>

            </md-tab>
        </md-tabs>

    </div>
</div>
</div>