<div class="row" style="padding: 0px;margin-top:0px">
    <div  ng-controller="AccidentAppCtrl" class="tabsdemoDynamicTabs">

        <md-tabs md-selected="selectedIndex" style="margin-top: 0px">

            <md-tab ng-repeat="tab in tabs" ng-disabled="tab.disabled" label="{{tab.title}}">

                <div class="demo-tab tab{{$index%4}}" layout="column" >
                    
                    <div><ng-include src="'views/partials/vehicle_1.html'"></ng-include></div>
                    
                </div>
            </md-tab>
        </md-tabs>

    </div>
</div>
</div>