<div ng-controller="SideCtrl" class="buttondemoBasicUsage" style="padding: 0px;border:0px;margin: 0px">


    <table class="table table-bordered table-striped " id="driver">

        <tbody>
        <tr>
            <td class="my_heading2" style="border-width:0px">C : SCENE OF ACCIDENT & SEVERITY</td>
            <td style="width:5%"> Fatal</td>
            <td style="width:11%"><input class="ingizo" ng-model="accident.vehicle_fatal" type="text" required/></td>
            <td style="width:5.5%"> Severe</td>
            <td style="width:5.5%"><input class="ingizo" ng-model="accident.vehicle_severe" type="text" required/></td>
            <td style="width:5.5%"> Simple</td>
            <td style="width:5.5%"><input class="ingizo" ng-model="accident.vehicle_simple" type="text" required/></td>
            <td  style="width:21.25%">None</td>
            <td style="width:12.75%"><input class="ingizo" ng-model="accident.vehicle_not_injured" type="text" required/></td>

        </tr>
        </tbody>

    </table>

    <table class="table table-bordered table-striped table-condensed" >

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">1</td>
            <td style="width: 30%" class="driver" >Driver Details</td>
            <td style="width: 33%" class="vehicle">Vehicle Details</td>
            <td style="width: 34%" class="insurance"> Vehicle Insurance</td>
        </tr>
        </tbody>

    </table>

    <table class="table table-bordered table-striped table-condensed" >

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">2</td>
            <td style="width: 15%" class="my_td">Driving License ID </td>
            <td style="width: 15%"> <input class="ingizo-driver" type="text" ng-model="accident.driver_license_id" name="driver_license_id" ng-mouseleave="getDriver()" required/> </td>
            <td style="width: 16.5%" class="my_td">Vehicle Registration Number</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text"  ng-model="accident.vehicle_reg_no" name="vehicle_reg_no" ng-mouseleave="getVehicle()" required/></td>
            <td style="width: 17%" class="my_td">Insurance Company</td>
            <td style="width: 17%" class="my_td"><input class="ingizo-insurance" type="text" ng-model="accident.insurance_company_name" name="insurance_company_name" required/></td>

        <tr>

            <td class="number" style="border-width:0px">3</td>
            <td style="width: 15%" class="my_td">Surname </td>
            <td style="width:15%"> <input class="ingizo-driver" ng-model="accident.driver1_surname" name="driver1_surname" type="text" required/> </td>
            <td style="width: 16.5%" class="my_td">Vehicle Type </td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text"  ng-model="accident.vehicle_type" name="vehicle_type" required/></td>
            <td style="width: 17%" class="my_td">Insurance Type</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text" ng-model="accident.insurance_company_type" name="insurance_company_type" required/></td>

        <tr>
            <td class="number" style="border-width:0px">4</td>
            <td style="width: 15%" class="my_td">Other Names </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" ng-model="accident.driver1_othernames" name="driver1_othernames" required/> </td>
            <td style="width: 16.5%" class="my_td">Owner's Full name</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" ng-model="accident.vehicle_owner_name" name="vehicle1_owner_name" required/></td>
            <td style="width: 17%" class="my_td">Phone Number</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text" ng-model="accident.insurance_company_phone" name="insurance_company_phone" required/></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">5</td>
            <td style="width: 15%" class="my_td">Physical Address </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" ng-model="accident.driver1_p_add" name="driver1_p_add" required/> </td>
            <td style="width: 16.5%" class="my_td">Nationality</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" ng-model="accident.vehicle_owner_nationality" name="vehicle1_owner_nationality" required/></td>
            <td style="width: 17%" class="my_td">Policy Number </td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text" ng-model="accident.insurance_policy_no" name="insurance_policy_no" required/></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">6</td>
            <td style="width: 15%" class="my_td">Address PO Box </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text"  ng-model="accident.driver1_address" name="driver1_address" required/> </td>
            <td style="width: 16.5%" class="my_td">Physical Address</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" ng-model="accident.vehicle_owner_p_addr" name="vehicle_owner_p_addr" required/></td>
            <td style="width: 17%" class="my_td">Policy Period</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text" ng-model="accident.insurance_exp_date" name="insurance_exp_date" required/></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">7</td>
            <td style="width: 15%" class="my_td">National ID </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" ng-model="accident.driver1_national_id" name="driver1_national_id" required/> </td>
            <td style="width: 16.5%" class="my_td">Address</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" ng-model="accident.vehicle_owner_address" name="vehicle_owner_address" required/></td>
            <td style="width: 17%" class="my_td">Estimated Repair TSH</td>
            <td style="width: 17%"><input class="ingizo-insurance" type="text"  ng-model="accident.insurance_est_repair" name="insurance_est_repair" required/></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">8</td>
            <td style="width: 15%" class="my_td">Gender </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text" ng-model="accident.driver1_gender" name="driver1_gender" required/> </td>
            <td style="width: 16.5%" class="my_td">Damage</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text"  ng-model="accident.vehicle_damage" name="vehicle_damage" required/></td>
            <td style="width: 17%;text-align: center" ><strong>Damage</strong></td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">9</td>
            <td style="width: 15%" class="my_td">Phone No  </td>
            <td style="width:15%"> <input class="ingizo-driver"  type="text"  ng-model="accident.driver1_phone_no" name="driver1_phone_no" required/> </td>
            <td style="width: 16.5%" class="my_td">Year of manufacturing</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" ng-model="accident.vehicle_yom" name="vehicle_yom" required/></td>
            <td style="width: 17%" class="my_td">Vehicle</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">10</td>
            <td style="width: 15%" class="my_td">Date Of Birth </td>
            <td style="width: 15%"> <input class="ingizo-driver"type="text" ng-model="accident.driver1_dob" name="driver1_dob" required/> </td>
            <td style="width: 16.5%" class="my_td">Chassis Number</td>
            <td style="width: 16.5%"><input class="ingizo-gari" type="text" ng-model="accident.vehicle_chasis_no" name="vehicle1_chasis_no" required/></td>
            <td style="width: 17%" class="my_td">Vehicle Total</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text"></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">11</td>
            <td style="width: 15%" class="my_td">Nationality </td>
            <td style="width: 15%"> <input class="ingizo-driver"  type="text"  ng-model="accident.driver1_nationality" name="driver1_nationality" required/> </td>
            <td style="width: 16.5%" >
                <select style="width: 100%" ng-model="accident.driver_severity">
                    <option value="">Choose Driver Casuality</option>
                    <option value="Injured">Killed</option>
                    <option value="Injured">Injured</option>
                </select>
            </td>
            <td style="width: 16.5%">Phone Use <span> <input  style="margin-top: 0px" ng-model="accident.driver_phone_use" type="checkbox" ng-true-value="'Found using phone while driving'" ng-false-value="'No phone use'"  ng-model="accident.driver1_phone_use" name="driver1_phone_use" required/> </span> </td>
            <td style="width: 17%" class="my_td">Infrastructure</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text" required /></td>
        </tr>

        <tr>
            <td class="number" style="border-width:0px">12</td>
            <td style="width: 15%" class="my_td">Occupation </td>
            <td style="width: 15%"> <input class="ingizo-driver" type="text" ng-model="accident.driver1_occupation" name="driver1_occupation" required/> </td>
            <td style="width: 16.5%" >
                Alcohol [%]
                <select  ng-model="accident.driver1_alcohol" name="driver1_alcohol" required>
                    <option value="">Select</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                    <option value="90">90</option>
                    <option value="100">100</option>
                </select>

            </td>
            <td style="width: 16.5%">Seat Belt / Helmet use <input type="checkbox"  style="margin-top: 0px" ng-model="accident.seat_belt" ng-false-value="'Seat belt fastened'"  ng-true-value="'Seat belt not fastened'"/> </td>
            <td style="width: 17%" class="my_td">Rescue cost</td>
            <td style="width: 17%"><input class="ingizo-driver" type="text" required /></td>

        </tr>



        </tbody>
    </table>



    <div ng-controller="SideCtrl" class="row" style = "padding: 0px;margin: 0px;border: 0px" >


        <div layout="row" layout-sm="column" layout-align="center center"  style = "padding: 0px;margin: 0px;border: 0px">

            <md-checkbox ng-model="checked1" aria-label="Checkbox 1">
                Are There Any Passengers:
            </md-checkbox>

            <md-checkbox ng-model = "checked2" aria-label="Checkbox 1">
                Are There Any witness
            </md-checkbox>

        </div>

        <div class="check-element animate-show" ng-show="checked1">
            <ng-include src="'views/partials/add_passenger.html'"></ng-include>
        </div>
        <div class="check-element animate-show" ng-show="checked2">
            <ng-include src="'views/partials/add_witness.html'"></ng-include>
        </div>


    </div>



</div>
     