<h1>Vehicle Information</h1>
<div class="container-fluid">
    <md-tabs md-selected="selectedIndex" flex>
        <md-tab label="Basic Information" class="col-md-6">
            <div class="demo-tab tab1" layout="column" layout-align="space-around left">
                <md-content class="md-padding" style="padding: 24px;">
                    <md-item-content>
                        <table class="table" style="width: 100%" >
                        <tr>
                            <th>make</th>
                            <td>{{ car.make }}</td>
                        </tr>
                            <tr>
                                <th>Model</th>
                                <td>{{ car.type }}</td>
                            </tr>
                            <tr>
                                <th>Model Number</th>
                                <td>{{ car.model_number }}</td>
                            </tr>
                            <tr>
                                <th>Body Type</th>
                                <td>{{ car.body_type }}</td>
                            </tr>
                            <tr>
                                <th>Color</th>
                                <td ng-style="{'background-color':currCar.color }">{{ car.color }}</td>
                            </tr>
                            <tr>
                                <th>Class</th>
                                <td>{{ car.class }}</td>
                            </tr>
                            <tr>
                                <th>Year Of Manufacture</th>
                                <td>{{ car.yom }}</td>
                            </tr>
                            <tr>
                                <th>Chassis Number</th>
                                <td>{{ car.chasis_no }}</td>
                            </tr>
                            <tr>
                                <th>Engine Capacity</th>
                                <td>{{ car.engine_capacity }}</td>
                            </tr>
                            <tr>
                                <th>Engine Number</th>
                                <td>{{ car.engine_number }}</td>
                            </tr>
                            <tr>
                                <th>Fuel Used</th>
                                <td>{{ car.fuel }}</td>
                            </tr>
                            <tr>
                                <th>Number of Axels</th>
                                <td>{{ car.number_of_axial }}</td>
                            </tr>
                            <tr>
                                <th>Axle Distance</th>
                                <td>{{ car.axial_distance }}</td>
                            </tr>
                            <tr>
                                <th>Seating Capacity</th>
                                <td>{{ car.seating_capacity }}</td>
                            </tr>
                            <tr>
                                <th>Tare Weight</th>
                                <td>{{ car.tare_weight }}</td>
                            </tr>
                            <tr>
                                <th>Gross Weight</th>
                                <td>{{ car.gross_wheight }}</td>
                            </tr>
                            <tr>
                                <th>Imported From</th>
                                <td>{{ car.imported_from }}</td>
                            </tr>

                        </table>
                    </md-item-content>

                </md-content>
            </div>
        </md-tab>
        <md-tab label="Offences"  style="width: 300px">
            <div class="demo-tab tab2" layout="column" layout-align="space-around center">
                <h2>List of Offencces Where vehicle with plate Number {{ car.plate_number }} was Involved</h2>
                <table>
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>License</th>
                        <th>Vehicle Plate Number</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Place</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="off in car.offences">
                        <td>{{$index + 1}}</td>
                        <td>{{off.driver_license_number}}</td>
                        <td>{{off.vehicle_plate_number}}</td>
                        <td>{{off.to}}</td>
                        <td>{{off.address}}</td>
                        <td>{{off.place}}</td>
                        <td>
                            <a href="#/offence/view/{{off.id}}">
                                <md-button class="md-hue-3 md-raised md-primary md-fab">
                                    <md-tooltip>
                                        View Offence Details
                                    </md-tooltip>
                                    <i class="fa fa-check" style="font-size: 20px;"></i>
                                </md-button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
        <md-tab label="Accidents"  style="width: 300px">
            <div class="demo-tab tab3" layout="column" layout-align="space-around center">
                <h2>List of Accidents Where vehicle with plate Number {{ car.plate_number }} was Involved</h2>
                <table class="table table-striped " >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ACCIDENT REG.NUMBER</th>
                        <th>POLICE RANK NO.</th>
                        <th>AREA </th>
                        <th>CAUSE</th>
                        <th>WEATHER</th>
                        <th>FATALITIES</th>
                        <th>INJURIES</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="accident in car.accidents | filter:query ">
                        <td>{{$index + 1}}</td>
                        <td>{{accident.accident_reg_number}}</td>
                        <td>{{accident.rank_no}}</td>
                        <td>{{accident.accident_area}}</td>
                        <td>{{accident.cause}}</td>
                        <td>{{accident.weather}}</td>
                        <td>{{accident.accident_fatal}}</td>
                        <td>{{accident.accident_simple_injury}}</td>
                        <td>
                            <a href="#/api/accident/view/{{accident.accident_id}}" title="View Accident." >
                                <md-button class="md-fab" aria-label="Time" style="width: 26px; height: 26px;">
                                    <md-icon icon="/img/navigation/2x_web/ic_menu_black_48dp.png" style="width: 16px; height: 16px;"></md-icon>
                                </md-button>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab><md-tab label="Insurance"  style="width: 300px">
            <div class="demo-tab tab3" layout="column" layout-align="space-around center">
                <h2>Insurance Cover for vehicle with plate Number {{ car.plate_number }} </h2>
                <table class="table table-striped " >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Company Name</th>
                        <th>Insurance Number</th>
                        <th>Insurance Type</th>
                        <th>Car Value</th>
                        <th>Start Date </th>
                        <th>End Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="insure in car.insurance">
                        <td>{{$index + 1}}</td>
                        <td>{{insure.company_id}}</td>
                        <td>{{insure.insurance_no}}</td>
                        <td>{{insure.insurance_type}}</td>
                        <td>{{insure.car_value}}</td>
                        <td>{{insure.start_date | date:'yyyy MMM dd' }}</td>
                        <td>{{insure.end_date | date:'yyyy MMM dd'}}</td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
        <md-tab label="Road License"  style="width: 300px">
            <div class="demo-tab tab3" layout="column" layout-align="space-around center">
                <h2>Road License for vehicle with plate Number {{ car.plate_number }} was Involved</h2>
                <table class="table table-striped " >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>License Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="road in car.roadLicence">
                        <td>{{$index + 1}}</td>
                        <td>{{road.license_no}}</td>
                        <td>{{road.start_date | date:'yyyy MMM dd' }}</td>
                        <td>{{road.end_date | date:'yyyy MMM dd'}}</td>


                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab><md-tab label="Business License"  style="width: 300px">
            <div class="demo-tab tab3" layout="column" layout-align="space-around center">
                <h2>Business License for vehicle with plate Number {{ car.plate_number }} was Involved</h2>
                <table class="table table-striped " >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>License Number</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Nature of Application</th>
                        <th>Period</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="road in car.busLicence">
                        <td>{{$index + 1}}</td>
                        <td>{{road.license_no}}</td>
                        <td>{{road.start_date | date:'yyyy MMM dd' }}</td>
                        <td>{{road.end_date | date:'yyyy MMM dd'}}</td>
                        <td>{{road.application_nature}}</td>
                        <td>{{road.period}}</td>
                        <td>
                            <a href="#/buslicence/view/{{road.id}}" title="View Details." >
                                <md-button class="md-fab" aria-label="Time" style="width: 26px; height: 26px;">
                                    <md-icon icon="/img/navigation/2x_web/ic_menu_black_48dp.png" style="width: 16px; height: 16px;"></md-icon>
                                </md-button>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
        <md-tab label="Inspection"  style="width: 300px">
            <div class="demo-tab tab3" layout="column" layout-align="space-around center">
                <h2>Vehicle Inspection for vehicle with plate Number {{ car.plate_number }} was Involved</h2>
                <table class="table table-striped " >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Inspection date</th>
                        <th>Passed </th>
                        <th>Failure</th>
                        <th>Percent</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="inspe in car.inspection">
                        <td>{{$index + 1}}</td>
                        <td>{{inspe.inspection_date | date:'yyyy MMM dd'}}</td>
                        <td>{{inspe.pass }}</td>
                        <td>{{inspe.fail }}</td>
                        <td>{{inspe.parcent}}</td>
                        <td>
                            <a href="#/api/inspection/view/{{inspe.id}}" title="View Details." >
                                <md-button class="md-fab" aria-label="Time" style="width: 26px; height: 26px;">
                                    <md-icon icon="/img/navigation/2x_web/ic_menu_black_48dp.png" style="width: 16px; height: 16px;"></md-icon>
                                </md-button>
                            </a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </md-tab>
    </md-tabs>
</div>