<div class="modal-header page">
    <h3>Delete Driver</h3>
</div>

<div class="modal-body page">
    <h3>Are you sure you want to delete this driver</h3>
    <h4>Name: {{ dhis2Event.dataValues['Program_Person'].Person.dataValues['First Name'].value }} {{ dhis2Event.dataValues['Program_Person'].Person.dataValues['Middle Name'].value }} {{ dhis2Event.dataValues['Program_Person'].Person.dataValues['Last Name'].value }}</h4>
    <h4>Licence Number: {{ dhis2Event.dataValues['Driver License Number'].value }}</h4>
</div>

<div class="modal-footer page">
    <span ng-show="deleting" class="pull-left">Deleting...</span>
    <button class="btn btn-primary" data-ng-click="close()">{{'close'| translate}}</button>
    <button class="btn btn-danger" data-ng-click="delete(dhis2Event,events)">{{'delete'| translate}}</button>
</div>