<style>
.dataTables_paginate,.dataTables_info{
    	display:none !important;
    }
.passport-size{
	height:200px;
	width:200px;
}
</style>
<div class="thumbnail" style="font-size:19px;position: absolute;bottom: 10px;right: 10px;z-index: 1200;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" ng-if="feedBack">{{ messagess }}</div>
<div class="thumbnail" style="font-size:19px;position: absolute;bottom: 10px;right: 10px;z-index: 1000;border-radius: 5px; background-color: rgba(0,0,0,0.5);color: white" ng-if="progresMessage">{{ progresMessagess }}</div>

<div class="row" style="margin-top: 90px">
    <div class="col-sm-12">
        <div ng-class="normalClass">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Drivers</b><button class="btn btn-primary btn-xs pull-right" data-ng-click="enableAdding()">Add Driver</button> </div>

                <table  datatable="ng" class="table table-condensed table-striped table-responsive">
                    <thead>
                    <tr>
                        <th># </th>
                        <th>Licence Number</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Tin Number</th>
                        <!-- <th>Accidents</th>
                        <th>Offences</th> -->
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="events in data.programs['Driver'].dataValues.events" style="background-color: {{ data.color[events.event] }}">
                        <td>{{ ($index+ 1) + ((pager.page - 1) * pager.pageSize)}}</td>
                        <td>{{ events.dataValues['Driver License Number'].value }}</td>
                        <td>{{ events.dataValues['Full Name'].value }} </td>
                        <td>{{ events.dataValues['Gender'].value }}</td>
                        <td>{{ events.dataValues['Phone Number'].value }}</td>
                        <td>{{ events.dataValues['Postal Address'].value }}</td>
                        <td>{{ events.dataValues['TIN Number'].value }}</td>
                        <!-- <td><a ng-click="ViewAccident(events)">{{ getRelatedObjectsNumber(events.event,'Accident Vehicle') }}</a></td>
                        <td><a ng-click="ViewOffences(events)">{{ getRelatedObjectsNumber(events.event,'Offence Event') }}</a></td> -->
                        <td>
                            <div class="btn-group dropdown">
                                <button type="button" class="btn btn-default">Action</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="showDriverInfo(events)"> Info</a> </li>
                                    <li><a ng-click="enableEdit(events)"> Edit</a> </li>
                                    <li><a ng-click="showDelete(events,data.programs['Driver'].dataValues.events)"> Delete</a> </li>
                                    <li><a ng-click="enableAddingLicence(events)">Update Licence</a> </li>
                                    <li><a ng-click="ViewLicences(events,getRelatedObjects(events.event,'Driver License History'))">Licence History</a> </li>
                                    <li><a ng-click="ViewAccident(events)">Accidents</a> </li>
                                    <li><a ng-click="ViewOffences(events)">Offences</a> </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination class="pull-right" total-items="pager.total" page="pager.page"
          max-size="5" boundary-links="true"
          on-select-page="pageChanged(page)" items-per-page="pager.pageSize" class="pagination-sm">
        </pagination>
            </div>
        </div>

        <!--updating driver area-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-show="editing" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Driver</b><a ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times"></i>  </a></div>
                <div class="panel-body" style="padding-left: 30px">
                    <table >
                        <tr ng-if="datas.name != 'Program_Person'"  class="todelete"  ng-repeat="datas in editingEvent.dataValues | orderBy:'sortOrder'">
                            <td style="margin-right: 20px">
                                <label>{{ datas.name }}</label><br>
                                <div ng-if="datas.name == 'Driver Photo'">
                                	<!-- <img class="img-thumbnail" ng-src="getImage(datas.value)" alt="Driver Photo"/> -->
                                	<img class="img-thumbnail passport-size" ng-src="../../../api/documents/{{datas.value}}/data" alt="Driver Photo"/>
                                	<input type="file" file-model="data.editDriverPhoto"/>
                                </div>
                                <input  class="form-control" ng-if="datas.name != 'Driver Photo' && !datas.optionSet && datas.type != 'date'"  ng-model="datas.value" ng-blur="updateData(datas.id,datas.value,editingEvent,$event,datas,data.selectedprogram.dataValues.events)" ng-style="datas.color">
                                <input  class="form-control" ng-if="!datas.optionSet && datas.type=='date'" ui-date="dateOptions1"  ng-model="datas.value" ng-blur="updateData(datas.id,datas.value,editingEvent,$event,datas,data.selectedprogram.dataValues.events)" ng-style="datas.color">
                                <select  class="form-control" ng-if="datas.optionSet" ng-model="datas.value" ng-options="item.name as item.name for item in datas.optionSet.options" ng-change="updateData(datas.id,datas.value,events,$event,datas,data.selectedprogram.dataValues.events)" ng-style="datas.color" ></select>
                            </td>
                        </tr>
                        <!--<tr  ng-repeat="datas in editingPerson.dataValues">-->
                            <!--<td style="margin-right: 20px">-->
                                <!--<label>{{ datas.name }}</label><br>-->
                                <!--<input class="form-control" ng-focus="focusMe(datas.name)"  ng-if="!datas.optionSet && datas.type != 'date'"  ng-model="datas.value" ng-blur="updateData(datas.id,datas.value,editingPerson,$event,datas,data.selectedPerson.dataValues.events)" ng-style="datas.color">-->
                                <!--<input  class="form-control" ng-focus="focusMe(datas.name)"  ng-if="!datas.optionSet && datas.type == 'date'" ui-date="dateOptions1"  ng-model="datas.value" ng-blur="updateData(datas.id,datas.value,editingEvent,$event,datas,data.selectedPerson.dataValues.events)" ng-style="datas.color">-->
                                <!--<select  class="form-control"  ng-focus="focusMe(datas.name)" ng-if="datas.optionSet" ng-model="datas.value" ng-options="item.name as item.name for item in datas.optionSet.options" ng-change="updateData(datas.id,datas.value,events,$event,datas,data.selectedPerson.dataValues.events)" ng-style="datas.color" ></select>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <tr style="margin-top: 10px">
                            <td><button class="btn btn-sm btn-primary" ng-click="updateDriver(editingEvent)">Done</button> </td>
                        </tr>
                    </table>
                </div>

                </div>
            </div>

    <!--adding new driver-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-show="adding" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Add New Driver</b><a ng-click="cancelAdd()" class="pull-right"> <i class="fa fa-times"></i>  </a></div>
                <div class="panel-body" style="padding-left: 30px">
                    <table >
                        <tr ng-if="list.dataElement.name != 'Program_Person'" ng-repeat="list in  data.programs['Driver'].programStages[0].programStageDataElements">
                        <td >
                            <label>{{ list.dataElement.name }}</label>
                            <input type="file"  ng-if="list.dataElement.name == 'Driver Photo'" file-model="data.driverPhoto"/>
                            <!-- <input type="file"  ng-if="list.dataElement.name == 'Driver Photo'"  ngf-select ng-model="driverPhoto" name="upload"    
             accept="image/*" ngf-max-size="2MB" required/> -->
                            <input  ng-hide="list.dataElement.name == 'Driver Photo'" ng-if="list.dataElement.name != 'Program_Person' && list.dataElement.type !='date' && !list.dataElement.optionSet"  class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-model="data.newDriverValue[list.dataElement.id]"  >
                            <input  ng-if="list.dataElement.name != 'Program_Person' && list.dataElement.type=='date' && !list.dataElement.optionSet" ui-date="dateOptions1"  class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-model="data.newDriverValue[list.dataElement.id]"  >
                            <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newDriverValue[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                          </td>
                        </tr>
                        <!--<tr ng-repeat="list in  data.programs['Person'].programStages[0].programStageDataElements | orderBy:'sortOrder'">-->
                        <!--<td >-->
                            <!--<label>{{ list.dataElement.name }}</label>-->
                            <!--<input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet  && list.dataElement.type !='date'" ng-model="data.newPersonValue[list.dataElement.id]"  >-->
                            <!--<input ui-date="dateOptions1"  class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet && list.dataElement.type=='date'" ng-model="data.newDriverValue[list.dataElement.id]"  >-->
                            <!--<select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newPersonValue[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>-->
                          <!--</td>-->
                        <!--</tr>-->
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <!-- <button class="btn btn-sm btn-primary pull-right" ng-click="AddDriver(data.newDriverValue)">Add</button> -->
                                <button class="btn btn-sm btn-primary pull-right" ng-click="AddDriver(data.newDriverValue)">Add</button>
                                <!-- <button class="btn btn-sm btn-primary pull-right" ng-click="uploadFile(driverPhoto)">Add</button> -->
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    <!--adding new Licence-->
        <div class="col-sm-3" style="z-index: 30;background-color: white;" ng-if="addingLicence" >
            <div class="panel panel-default" >
                <div class="panel-heading"><b>Update Driver Licence</b><a ng-click="cancelEdit()" class="pull-right"> <i class="fa fa-times"></i>  </a></div>
                <div class="panel-body" style="padding-left: 30px">
                    <p>Name : {{ driver.dataValues['Full Name'].value }} </p>
                    <p>License No: {{ driver.dataValues['Driver License Number'].value }}</p>
                    <table >
                        <tr ng-repeat="list in  data.programs['Driver License History'].programStages[0].programStageDataElements | orderBy:'sortOrder'">
                        <td ng-if="list.dataElement.name != 'Program_Driver'">
                            <label>{{ list.dataElement.name }}</label>
                            <input class="form-control"  ng-focus="focusMe(list.dataElement.name)"  style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet  && list.dataElement.type != 'date'" ng-model="data.newLicence[list.dataElement.id]"  >
                            <input class="form-control"  ng-focus="focusMe(list.dataElement.name)" ui-date="dateOptions1" style="width: 100%;background: #ffffff"   ng-if="!list.dataElement.optionSet && list.dataElement.type == 'date'" ng-model="data.newLicence[list.dataElement.id]"  >
                            <select class="form-control"   ng-focus="focusMe(list.dataElement.name)"   style="width: 100%;background: #ffffff" ng-if="list.dataElement.optionSet" ng-model="data.newLicence[list.dataElement.id]" ng-options="item.name as item.name for item in list.dataElement.optionSet.options"></select>
                          </td>
                        </tr>
                        <tr style="margin-top: 10px">
                            <td>
                                <span class="pull-left" ng-if="currentUpdating"><i class='fa fa-cog fa-2x fa-spin '></i> Saving.... </span>
                                <span class="pull-left text-success" ng-if="kayaUpdatedSuccess"><i class='fa fa-check fa-2x'></i> Saved Successful </span>
                                <span class="pull-left text-danger" ng-if="kayaUpdateFalue"><i class='fa fa-times fa-2x'></i> Saving Failed </span>
                                <button class="btn btn-sm btn-primary pull-right" ng-click="addLicenceInfo(data.newLicence,driver.event)">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
    </div>
</div>
