<style>
    .modal-dialog{
        margin-left: 8%;
        margin-right: 8%;
        width: 84%
    }
</style>
<div id="accidentPaneId">
<div class="modal-header page">
    <h3>Licence History For {{ dhis2Event.dataValues['Full Name'].value }}</h3>
</div>

<div class="modal-body page">
    <table class="table" datatable="ng">
        <thead>
        <tr>
            <th>Licence Number</th>
            <th>Tin Number</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Class</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="event in events">
            <td>{{ dhis2Event.dataValues['Driver License Number'].value }}</td>
            <td>{{ dhis2Event.dataValues['TIN Number'].value }}</td>
            <td>{{ event.dataValues['Start Date'].value }}</td>
            <td>{{ event.dataValues['End Date'].value }}</td>
            <td>{{ event.dataValues['Driving Class Name'].value }}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div class="modal-footer page">
<button class="btn btn-default" ng-click="printDiv('accidentPaneId')">Print</button>
    <button class="btn btn-primary" data-ng-click="close()">{{'close'| translate}}</button>
</div>