
<!--<div class="modal-header page">
    
</div>-->

<div class="modal-body page"> 
	<button type="button" class="close" data-ng-click="close()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div id="driverPaneId">
	<h3 align = "center">Driver Information</h3><br>
	<table class="table">
		<thead></thead>
		<tbody>
			<tr>
				<td colspan="2" style="text-align:center">
					<img class="img-thumbnail passport-size" ng-src="{{getImage(events)}}" alt="Driver Photo"/>
				</td>
			</tr>
			<tr>
				<td><b>Full Name</b> </td>
				<td>{{ events.dataValues['Full Name'].value }}</td>
			</tr>

			<tr>
				<td><b>Phone Number</b></td>
				<td>{{ events.dataValues['Phone Number'].value }}</td>
			</tr>

			<tr>
				<td><b>Postal Address</b></td>
				<td>{{ events.dataValues['Postal Address'].value }}</td>
			</tr>

			<tr>
				<td><b>Gender</b></td>
				<td>{{ events.dataValues['Gender'].value }}</td>
			</tr>			

			<tr>
				<td><b>Date Of Birth</b></td>
				<td>{{ events.dataValues['Date of Birth'].value }}</td>
			</tr>

			<tr>
				<td><b>TIN Number</b></td>
				<td>{{ events.dataValues['ID Number/TIN Number '].value }}</td>
			</tr>
			
			<tr>
				<td><b>Driver License Number</b></td>
				<td>{{ events.dataValues['Driver License Number'].value }}</td>
			</tr>			

			<tr>
				<td><b>Driving Class Name</b></td>
				<td>{{ events.dataValues['Driving Class Name'].value | uppercase }}</td>
			</tr>
			<tr>
				<td><b>Current License Expiry Date</b></td>
				
				<td ng-style="{'background-color': expireColor }">{{ events.dataValues['Current License Expiry Date'].value}} {{expired}}</td>
			</tr>
		</tbody>
	</table>  
	</div>
</div>

<div class="modal-footer page">        
    <button class="btn btn-primary" ng-click="printDiv('driverPaneId')">Print</button>
</div>