<style>
    .modal-dialog{
        width: 100%;
    }

    form .ng-invalid-required.ng-dirty { background-color: #c7254e; }
    form .ng-invalid-text.ng-dirty { background-color: #843534; }
    form .ng-invalid-password.ng-dirty { background-color: lightpink; }
    form .ng-valid.ng-dirty { background-color: lightgreen; }
    form .ng-dirty { background-color: lightgreen; }

    table{
        padding:0px;margin:0px;border:0px;
        border-color: #000000;
    }

    body{
        padding-top: 0px;
    }

    .panel-body{
        padding:0px;margin:0px;border:0px;
    }

    .panel-heading{
        padding:0px;margin:0px;border:0px;
    }

    .table,.table-condensed,.table-bordered,.table-striped{

        border-width: 0px;
        padding:0px;margin:0px;border:0px;
    }

    th h4{
        color: red;
    }

    td{
        text-align: center;

    }

    .my_td{
        border-width: 0px;
        background-color: #ffffff;
        text-align: left;
        padding-left:3px;
        border: 0px;

    }
    .my_td >td{border: 0px;}

    #driver input{width: 100px;}

    .ingizo{
        width: 100%;border:0px;
        background-color: #fcd5b4;
        border-width: 0px;
        border: 0px;
    }

    .statistics{
        width: 100%;
        border-left: 5px !important;
        border-right: 5px !important;
        border-top-width: 0px;
        border-bottom-width: 1px;
        border-bottom-style: double;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .ingizo-driver{
        width: 100%;border:0px;
        background-color:#d7e4bc;
        border-width: 0px;
        border: 0px;
    }

    .ingizo-gari{
        width: 100%;border:0px;
        background-color:#ffffc5;
        border-width: 0px;
        border: 0px;

    }

    .ingizo-damage{
        width: 100%;border:0px;
        background-color:#f2dddc;
        border-width: 0px;
        border: 0px;

    }

    .ingizo-insurance{
        width: 100%;border:0px;
        background-color:#f2dddc;
        border-width: 0px;
        border: 0px;

    }

    .number{
        border-width:0px;
        background-color: #c5d9f1;
        border-width: 0px;
        width:3%;
        border: 0px;
    }

    .checkbox{

    }

    .driver{
        background-color: #d7e4bc;

    }

    .vehicle{
        background-color: #ffffc5;
        width: 100%;border:0px;padding:0px;

    }

    .insurance{
        background-color: #f2dddc;

    }


    .md-tab {
        margin: 0px;
        padding-bottom: 0px;
    }

    .md-tab>label {
        margin: 0px;
        padding-bottom: 0px;
    }

    section .md-header {
        margin: 0px;
        padding-bottom: 0px;
    }

    section .md-tabs-content {
        margin:0px;
        padding-bottom: 0px;
    }


    .my_heading{
        font-size: 100%;
        font-weight: bold;
        color: red;
        border-width:0px;
        border-right-width: 1px;
        width:33%;
        background-color: #c5d9f1;
    }

    .my_heading2{
        border-width:0px;color: red;font-weight: bold;
        border-right-width: 1px;
        width:28%;
        background-color: #c5d9f1;
    }

    .heading_passenger{
        border-width:0px;color: red;font-weight: bold;
        border-right-width: 1px;
        width:100%;
        background-color: #c5d9f1;

    }

    .check-element {
        padding: 0px;margin: 0px;border: 0px;
    }

    td > p{
        margin:0px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    /**
    BUTTONS CSS STYLESHEET
    **/

    .buttondemoBasicUsage {
        /** From vulcanized demo **/ }
    .buttondemoBasicUsage section {
        background: #f7f7f7;
        border-radius: 3px;
        text-align: center;
        margin: 1em;
        position: relative !important;
        padding-bottom: 0px; }

    .buttondemoBasicUsage .md-content {
        margin-right: 7px; }

    .buttondemoBasicUsage section .md-button:not(.md-fab) {
        min-width: 10em; }

    .buttondemoBasicUsage section .md-button {
        display: block;
        margin: 1em;
        line-height: 25px; }

    .buttondemoBasicUsage .label {
        position: absolute;
        bottom: 5px;
        left: 7px;
        color: #ccc;
        font-size: 14px; }


    /**
    TABS CSS STYLESHEET
    **/

    .tabsdemoDynamicTabs .remove-tab {
        margin-bottom: 0px; }

    .tabsdemoDynamicTabs .md-button {
        display: block; }

    .tabsdemoDynamicTabs .demo-tab {
        text-align: center; }

    .tabsdemoDynamicTabs .tab0, .tabsdemoDynamicTabs .tab1, .tabsdemoDynamicTabs .tab2, .tabsdemoDynamicTabs .tab3 {
        background-color: #ffffff; }

    .tabsdemoDynamicTabs .md-header {
        background-color: #c5d9f1 !important;
        color: #000000 !important ;
        margin: 0px !important;}

    .tabsdemoDynamicTabs .md-tab {
        color: #90caf9 !important; }

    .tabsdemoDynamicTabs .md-tab.active, .tabsdemoDynamicTabs .md-tab:focus {
        color: white !important; }

    .tabsdemoDynamicTabs .md-tab[disabled] {
        opacity: 0.5; }

    .tabsdemoDynamicTabs .md-header .md-ripple {
        border-color: #FFFF8D !important; }

    .tabsdemoDynamicTabs .md-tabs-ink-bar {
        background-color: #FFFF8D !important; }

    .tabsdemoDynamicTabs .title {
        padding-top: 0px;
        padding-right: 0px;
        text-align: left;
        text-transform: uppercase;
        color: #888;
        margin-top: 0px; }

    .tabsdemoDynamicTabs [layout-align] > * {
        margin-left: 0px; }

    .tabsdemoDynamicTabs form > [layout] > * {
        margin-left: 0px; }

    .tabsdemoDynamicTabs .long > input {
        width: 100%; }

    .tabsdemoDynamicTabs .md-button {
        max-height: 30px; }

    .tabsdemoDynamicTabs .md-button.add-tab {
        margin-top: 0px;
        max-height: 30px !important; }


    <!-- dialog style -->

    .dialogdemoBasicUsage .full {
        width: 100%;
        height: 100%; }

    .dialogdemoBasicUsage .gap {
        width: 50px; }

    .dialogdemoBasicUsage .md-subheader {
        background-color: #dcedc8;
        margin: 0px; }

    .dialogdemoBasicUsage h2.md-subheader {
        margin: 0px;
        margin-left: -24px;
        margin-right: -24px;
        margin-top: -24px; }

    .dialogdemoBasicUsage h2.md-subheader.md-sticky-clone {
        margin-right: 0px;
        margin-top: 0px;
        box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); }

    .dialogdemoBasicUsage h2 .md-subheader-content {
        padding-left: 0px; }



    <!-- dialog style -->

    .checkboxdemoBasicUsage body {
        padding: 0px; }

    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid rgba(0,0,0,0.3);
    }
</style>

<div class="modal-header">
    <span style="color: #000000"><i class="icon-table" style="padding-right: 3px"></i><strong>ACCIDENT NUMBER:{{dhis2Event.Accident['Accident Registration Number']}}</strong></span>
</div>

<div class="modal-body page" style="font-size: 12px;padding-left: 40px !important;padding-right: 40px !important;">



    <div class="mws-panel-body">
    <form name="accident_form" novalidate>

    <div class="panel-body">

        <table class="table table-bordered table-striped ">

            <tbody>

            <tr>
                <td class="my_heading" style="border-width:0px;padding-right:5%">A : SCENE OF ACCIDENT & SEVERITY</td>
                <td style="width:11%;background-color: #ffffff;text-align:left">Acc Register</td>
                <td style="width:22%">{{dhis2Event.Accident['Accident Registration Number']}}</td>
                <td style="width:8.5%;text-align:left">OCS Check</td>
                <td style="width:8.5%">{{dhis2Event.Accident['OCS Check']}}</td>
                <td  style="width:8.5%;text-align:left">S.visor Check</td>
                <td style="width:8.5%">{{dhis2Event.Accident['Supervisor Check']}}</td>
            </tr>

            </tbody>

        </table>


    </div>

    <div class="panel-body">

        <table class="table table-bordered table-striped">

            <tbody>
            <tr>
                <td class="number" style="border-width:0px">1</td>
                <td class="my_td"  style="width: 10%">Police Station</td>
                <td style="width: 10%"></td>
                <td class="my_td"  style="width: 10%"></td>
                <td class="my_td"  style="width: 11%">Number</td>
                <td class="my_td"  style="width: 11%">Name</td>
                <td class="my_td"  style="width: 11%">Sign.Date</td>
                <td class="my_td"  style="width: 8.5%"></td>
                <td  style="width: 8.5%;text-align:left">Acc.Severity</td>
                <td class="my_td"  style="width: 8.5%"></td>
                <td class="my_td"  style="width: 8.5%"></td>

            </tr>

            <tr>
                <td class="number" style="border-width:0px">2</td>
                <td class="my_td"  style="width: 10%">District </td>
                <td style="width: 10%"></td>
                <td class="my_td"  style="width: 10%">Police Officer </td>
                <td style="width: 11%;text-align:left">{{dhis2Event.Accident.Police['Rank Number']}}</td>
                <td style="width: 11%;text-align:left">{{dhis2Event.Accident.Police.Person['First Name'] + ' ' + dhis2Event.Accident.Police.Person['Middle Name'] + ' ' + dhis2Event.Accident.Police.Person['Last Name']}}</td>
                <td style="width: 11%;text-align:left">{{dhis2Event.Accident['Time of Accident'] | date:'dd MM yyyy'}}</td>
                <td style="width: 8.5%;text-align:left">Fatal(n)</td>
                <td  style="width:8.5%;text-align:left">{{ dhis2Event.Accident['Number of Fatal Injuries'] }}</td>
                <td  style="width: 8.5%;text-align:left">Simple(n)</td>
                <td style="width: 8.5%;text-align:left">{{ dhis2Event.Accident['Number of Simple Injuries'] }}</td>

            </tr>

            <tr>
                <td class="number" style="border-width:0px">3</td>
                <td class="my_td" >Region</td>
                <td>{{}}</td>
                <td class="my_td" >Accident Cause</td>
                <td style="text-align:left">{{ dhis2Event.Accident['Cause of Accident'] }}</td>
                <td class="my_td" >Weather Conditions</td>
                <td style="text-align:left">{{ dhis2Event.Accident['Weather'] }}</td>
                <td class="my_td" >Severe Injury</td>
                <td style="text-align:left" >{{ dhis2Event.Accident['Number of Severe Injuries'] }}</td>
                <td class="my_td" >Only Damage</td>
                <td>{{accident_only_damage}}</td>
            </tr>

            </tbody>

        </table>

    </div>

    <div class="panel-body">

        <table class="table table-bordered table-striped ">

            <tbody>

            <tr>
                <td class="my_heading" style="border-width:0px;padding-right:12%">B : TIME AND LOCATION</td>
                <td style="width:11%;text-align:left">Latitude</td>
                <td style="width:11%;text-align:left"> {{dhis2Event.Accident['Latitude']}} </td>
                <td style="width:11%;text-align:left">Longitude</td>
                <td style="width:8.5%;text-align:left">{{dhis2Event.Accident['Longitude']}} </td>
                <td style="width:12.75%;text-align:left">Hit & Run</td>
                <td style="width:12.75%"> {{}}</td>
            </tr>

            </tbody>

        </table>

    </div>

    <div class="row" style = "padding: 0px;margin: 0px;border: 0px">

    <div class="col-md-9" style="width: 87.25%;padding: 0px">

        <table class="table table-bordered table-striped" style="padding-right: 2px">

            <tbody >

            <tr>
                <td class="number" style="border-width:0px">1</td>
                <td style="width: 15%;text-align:left">Accident Date</td>
                <td style="width: 15%;text-align:left">Accident Time</td>
                <td class="my_td"  style="width: 33%">Area Of Accident </td>
                <td class="my_td"  style="width: 8.5%">Road </td>
                <td class="my_td"  style="width:12.75%">Intersection</td>
            </tr>

            </tbody>

        </table>

        <table class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td class="number" style="border-width:0px">2</td>
                <td class="my_td"  style="width: 10%">Day</td>
                <td style="width:5%;text-align:left">{{dhis2Event.Accident['Time of Accident']  | date:'dd'}} </td>
                <td style="width: 10%;text-align: left">Hour(24)</td>
                <td style="width:5%;text-align:left"> {{dhis2Event.Accident['Time of Accident'] | date:'yyyy'}} </td>
                <td class="my_td"  style="width: 11%">Area Name</td>
                <td style="width:11%;text-align:left">{{ dhis2Event.Accident['Area of Accident']}}</td>
                <td style="width: 11%;text-align:left">Name </td>
                <td style="width:8.5%;text-align:left">{{ dhis2Event.Accident['Road Name'] }}</td>
                <td style="width:12.75%;text-align:left">{{ dhis2Event.Accident['Intersection Name'] }}</td>
            </tr>

            <tr>
                <td class="number" style="border-width:0px">3</td>
                <td class="my_td"  >Month</td>
                <td style="text-align: left"> {{dhis2Event.Accident['Time of Accident'] | date:'MMM'}} </td>
                <td style="text-align: left">Min(60)</td>
                <td> </td>
                <td class="my_td" >City/Region</td>
                <td>  </td>
                <td style="text-align:left">No </td><td>{{ dhis2Event.Accident['Road Number']}}</td>
                <td style="text-align:left">{{ dhis2Event.Accident['Intersection Number'] }}</td>
            </tr>


            <tr>
                <td class="number" style="border-width:0px">4</td>
                <td class="my_td"  >Year</td>
                <td style="text-align: left"> {{dhis2Event.Accident['Time of Accident']  | date:'yyyy'}} </td>
                <td class="my_td" ></td>
                <td></td>
                <td class="my_td" >District</td>
                <td> {{}} </td>
                <td style="text-align:left">Kilometer(Mark) </td>
                <td style="text-align: left">{{ dhis2Event.Accident['Road Mark'] }}</td>
                <td style="text-align: left">{{ dhis2Event.Accident['Intersection Mark'] }}</td>
            </tr>

            </tbody>

        </table>

    </div>

    <div class="col-md-3" style="width: 12.75%">
        <center><img src="img/logo.jpg" height="50%" width="50%"></center>
    </div>

    <div class="row" style="padding: 0px;margin-top:0px">
    <table class="table table-bordered table-striped " id="driver">

        <tbody>
        <tr>
            <td class="my_heading2" style="border-width:0px">C : SCENE OF ACCIDENT & SEVERITY</td>
            <td style="width:5%;text-align:left"> Fatal</td>
            <td style="width:11%"></td>
            <td style="width:5.5%;text-align:left"> Severe</td>
            <td style="width:5.5%"></td>
            <td style="width:5.5%;text-align:left"> Simple</td>
            <td style="width:5.5%;text-align:left"></td>
            <td  style="width:21.25%;text-align:left">None</td>
            <td style="width:12.75%"></td>

        </tr>
        </tbody>

    </table>

    <table class="table table-bordered table-striped table-condensed" >

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">1</td>
            <td style="width: 30%" class="driver" >Driver Details</td>
            <td style="width: 33%" class="vehicle">Vehicle Details</td>
            <td style="width: 34%" class="insurance"> Vehicle Insurance</td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered table-striped table-condensed" >

        <tbody>

        <tr>
            <td class="number" style="border-width:0px">2</td>
            <td style="width: 15%" class="my_td">Driving License ID </td>
            <td style="width: 15%;text-align:left">{{ dhis2Event.Driver['Driver License Number'] }}</td>
            <td style="width: 16.5%" class="my_td">Vehicle Registration Number </td>
            <td style="width: 16.5%;text-align:left">{{ dhis2Event.Vehicle['Vehicle Plate Number'] }}</td>
            <td style="width: 17%" class="my_td">Insurance Company</td>
            <td style="width: 17%" class="my_td">{{}}</td>
        </tbody>

    </table>

    <table class="table table-bordered table-striped " id="driver2">

        <tbody>
        <tr>
            <td class="my_heading2" style="border-width:0px;padding-right: 82%;">D : PASSENGER</td>

        </tr>
        </tbody>

    </table>


    <table class="table table-bordered table-striped table-condensed" >

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">1</td>
            <td style="width: 15%" class="my_td">Name </td>
            <td style="width:15%"> {{}}</td>
            <td style="width: 16.5%" class="my_td">Gender</td>
            <td style="width:16.5%"> {{}} </td>
            <td style="width: 17%" class="my_td">Date of Birth </td>
            <td style="width:17%"> {{}} </td>

        <tr>

            <td class="number" style="border-width:0px">2</td>
            <td style="width: 15%" class="my_td">Physical Address </td>
            <td style="width:15%"> {{}} </td>
            <td style="width: 16.5%" class="my_td">Address</td>
            <td style="width:16.5%"> {{}}</td>
            <td style="width: 17%" class="my_td">Nationality/ID  </td>
            <td style="width:17%"> {{}} </td>
        </tr>
        <tr>

            <td class="number" style="border-width:0px">3</td>
            <td style="width: 15%" class="my_td">Phone Number </td>
            <td style="width:15%"> {{}} </td>
            <td style="width: 16.5%"  class="my_td">
                Alcohol [%]


            </td>
            <td style="width: 16.5%">{{}}</td>

            <td style="width: 17%"  class="my_td">Passenger casuality </td>
            <td style="width: 17%">{{}}</td>
        </tr>
        </tbody>
    </table>



    <table class="table table-bordered table-striped " id="driver1">

        <tbody>
        <tr>
            <td class="my_heading2" style="border-width:0px;padding-right: 84%;">E:WITNESS</td>
        </tr>
        </tbody>

    </table>


    <table class="table table-bordered table-striped table-condensed" >

        <tbody>
        <tr>
            <td class="number" style="border-width:0px">1</td>
            <td style="width: 15%" class="my_td">Name </td>
            <td style="width:15%"> {{}}</td>
            <td style="width: 16.5%" class="my_td">Gender</td>
            <td style="width:16.5%"> {{}} </td>
            <td style="width: 17%" class="my_td">Date of Birth </td>
            <td style="width:17%"> {{}} </td>

        <tr>

            <td class="number" style="border-width:0px">2</td>
            <td style="width: 15%" class="my_td">Physical Address </td>
            <td style="width:15%"> {{}} </td>
            <td style="width: 16.5%" class="my_td">Address</td>
            <td style="width:16.5%"> {{}} </td>
            <td style="width: 17%" class="my_td">Nationality/ID  </td>
            <td style="width:17%"> {{}} </td>
        </tr>
        </tbody>
    </table>

        <table class="table table-bordered table-striped " id="signature">

            <tbody>
            <tr>
                <td class="my_heading2" style="border-width:0px;padding-right: 82%;">F:SIGNATURES</td>
            </tr>
            </tbody>

        </table>

    <table class="table table-bordered table-striped table-condensed" >

        <thead>
        <th style="width:25%">Accident Description</th>
        <th  style="width:25%">Police Signature</th>
        <th  style="width:25%">Driver Signature</th>
        <th  style="width:25%">Witness Signature</th>
        </thead>

        <tbody>
        <tr>
            <td  style="width:25%;height:50px;"><img style="height: 12%" src ="{{dhis2Event.Accident['Accident Description Image']}} "></td>
            <td style="width:25%" ><img style="height: 12%" src ="{{dhis2Event.Accident['Signature']}}/data" ></td>
            <td style="width:25%"><img style="height: 12%" src="{{dhis2Event['Signature']}}/data"></td>
            <td style="width:25%"><img style="height: 12%" src="{{}}"></td>
        </tr>
        </tbody>

    </table>

    </div>
    </div>


    </form>
    </div>

</div>
