<style>
    a:hover{
        text-underline: none;
    }
    .rightPanel{
    	margin-top:125px;
    }
    .modal-dialog{
        margin-left: 8%;
        margin-right: 8%;
        width: 84%
    }
    .dataTables_paginate,.dataTables_info{
    	display:none !important;
    }
    .panel-collapse.in{
    	overflow: auto;
    }
    .panel-body{
    	overflow: auto;
    }
</style>
<div id="offenceScope" class="map" style="margin-top: 50px; background-color: white;padding-left: 5px;padding-right: 5px" >
    <div id="map" style="width: 100%; height: 600px;padding-left: 100px;"></div>
</div>
 </div>